#page_content_inner{
    padding-bottom: 24px !important;
}

.uk-grid{
    margin-top: 0px !important;
}

.uk-modal-footer{
    margin-top: 0px !important;
}   

mat-radio-button{
    margin-right: 8px;
}

mat-label{
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 14px !important;
}

::ng-deep .mat-form-field-underline{    
    background-color: rgb(225, 225, 225) !important;
} 

::ng-deep 
.cdk-overlay-container {
    z-index: 99999 !important;
  }