<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">playlist_add</i> {{title() | translate}}</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">                
                <mat-form-field class="full-width">
                    <mat-select placeholder="{{'provider' | translate}}" formControlName="PROVIDER_ID" required>                      
                      <mat-option *ngFor="let provider of providers" [value]="provider.ID">
                        {{provider.NAME}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f('PROVIDER_ID').invalid">{{getErrorMessage(f('PROVIDER_ID')) | translate}}</mat-error>                                        
                </mat-form-field>
            </div>
        </div>
              
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-label>{{'status' | translate}}</mat-label>
                <div class="uk-margin-small2-top">
                    <mat-radio-group formControlName="ACTIVE">
                        <mat-radio-button value="Y">{{'active' | translate}}</mat-radio-button>
                        <mat-radio-button value="N">{{'disabled' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </div>        

    <div class="uk-grid uk-margin-small3-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'bank' | translate}}" maxlength="100" formControlName="BANK">
                    <mat-error *ngIf="f('BANK').invalid">{{getErrorMessage(f('BANK')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'bankType' | translate}}" maxlength="3" formControlName="TYPE">
                    <mat-error *ngIf="f('TYPE').invalid">{{getErrorMessage(f('TYPE')) | translate}}</mat-error>
                </mat-form-field>                
            </div>
        </div>        

        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'providerBank' | translate}}" maxlength="255" formControlName="PROVIDER_CODE">
                    <mat-error *ngIf="f('PROVIDER_CODE').invalid">{{getErrorMessage(f('PROVIDER_CODE')) | translate}}</mat-error>
                </mat-form-field>                
            </div>
        </div>        
    </div>    
       
    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">{{'save' | translate}}</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">{{'back' | translate}}</button>
        </div>
    </div>
</form>