<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">playlist_add</i> {{title()}}</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Provider" formControlName="PROVIDER_ID" required>
                        <mat-option *ngFor="let provider of providers" [value]="provider.ID">
                            {{provider.NAME}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f('PROVIDER_ID').invalid">{{getErrorMessage(f('PROVIDER_ID'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-label>Status</mat-label>
                <div class="uk-margin-small2-top">
                    <mat-radio-group formControlName="ACTIVE">
                        <mat-radio-button value="Y">Active</mat-radio-button>
                        <mat-radio-button value="N">Disabled</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Card" maxlength="100" formControlName="CARD">
                    <mat-error *ngIf="f('CARD').invalid">{{getErrorMessage(f('CARD'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Card Type" maxlength="3" formControlName="TYPE">
                    <mat-error *ngIf="f('TYPE').invalid">{{getErrorMessage(f('TYPE'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>


    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input currencyMask [options]="currencyMask" matInput placeholder="Pre-Authorized Amount" formControlName="PRE_AUTH_AMOUNT" maxlength="20">
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input  matInput placeholder="Revers Days" formControlName="AUTH_REVERS_DAYS" type="number" min="0">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Number of Installments" formControlName="INSTALLMENT">
                        <mat-option *ngFor="let installment of installments" [value]="strValue(installment+1)">
                            {{ getInstallmentLabel(installment+1) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Installment Type" formControlName="INSTALLMENT_TYPE">
                        <mat-option *ngFor="let type of ['Card','Shop','Card/Shop']" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="uk-grid uk-margin-small-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1 uk-row-first">
            <mat-form-field class="full-width">
                <input matInput placeholder="String Card Providers" formControlName="PROVIDER_CODE">
            </mat-form-field>
        </div>
    </div>
    <div class="uk-grid uk-margin-small-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1 uk-row-first">
            <mat-form-field class="full-width">
                <input required matInput placeholder="Regex Valid Card" formControlName="REGEX_VALID_CARD">
                <mat-error *ngIf="f('REGEX_VALID_CARD').invalid">{{getErrorMessage(f('REGEX_VALID_CARD'))}}</mat-error>
            </mat-form-field>
        </div>
    </div>        
    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">Save</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">Back</button>
        </div>
    </div>
</form>