<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">playlist_add</i> {{title()}}</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Code" maxlength="10" formControlName="CODE">
                    <mat-error *ngIf="f('CODE').invalid">{{getErrorMessage(f('CODE'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Description" maxlength="255" formControlName="DESCRIPTION">
                    <mat-error *ngIf="f('DESCRIPTION').invalid">{{getErrorMessage(f('DESCRIPTION'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Provider" formControlName="PROVIDER_ID" required>
                        <mat-option *ngFor="let provider of providers" [value]="provider.ID">
                            {{provider.NAME}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f('PROVIDER_ID').invalid">{{getErrorMessage(f('PROVIDER_ID'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Internal Code" formControlName="INTERNAL_PROV_REASON_CODE_ID" required>
                        <mat-option *ngFor="let provider of providers" [value]="provider.ID">
                            {{provider.NAME}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f('INTERNAL_PROV_REASON_CODE_ID').invalid">{{getErrorMessage(f('INTERNAL_PROV_REASON_CODE_ID'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">Save</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">Back</button>
        </div>
    </div>
</form>