﻿<div class="login_page_wrapper">
    <div class="md-card" id="login_card">
            <div class="md-card-content large-padding" id="view_resend_email" [hidden]="view!='RESEND'">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top" [routerLink]="['/login']"></button>
                <h2 class="heading_a uk-margin-large-bottom">Resend E-mail</h2>
                <p>Enter your e-mail for receive instructions to access the system.</p>
                <div >
                    <div class="uk-form-row">
                        <label>E-mail</label>
                        <input class="md-input" type="text" id="email_resend" name="email_resend" />
                    </div>
                    <div class="uk-margin-medium-top error_password hide-content uk-text-danger" id="resp-resend">
                    </div>
                    <div id="content-msg-resend" style="display: none" class="uk-alert uk-alert-success" data-uk-alert>
                        <a href="#" class="uk-alert-close uk-close"></a>
                        <p><i class="material-icons">check_circle</i> <span id="content-msg-success"></span></p>
                    </div>
                    <div class="uk-margin-medium-top">
                        <button type="submit" class="md-btn md-btn-primary md-btn-block">Send</button>
                    </div>
                </div>
            </div>
    </div>
</div>