<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">warning</i> {{'warning' | translate}}</h3>
</div>
<div class="content-unsuccess-msg">
    <table class="uk-table uk-table-striped" cellpadding="5">
        <tbody>
            <tr class="header_mail">
                <th width="10%" class="uk-text-center">{{ 'type' | translate }}</th>
                <th width="10%" class="uk-text-center">{{ 'number' | translate }}</th>
                <th width="10%" class="uk-text-right" >{{ 'amount' | translate }}</th>
                <th width="10%" class="uk-text-center">{{ 'status' | translate }}</th>
                <th class="uk-text-center"            >{{ 'message' | translate }}</th>
            </tr>
            <tr *ngFor="let o of orders">
                <td class="uk-text-center">{{ o.ORDER_TYPE }}</td>
                <td class="uk-text-center">{{ o.ORDERNUMBER }}</td>
                <td class="uk-text-right" >{{ o.AMOUNT }}</td>
                <td class="uk-text-center">{{ o.STATUS }}</td>
                <td class="uk-text-center">{{ o.REASONMESSAGE }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="uk-modal-footer uk-text-right">
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" 
                class="md-btn md-btn-default md-btn-small md-btn-wave-light uk-modal-close waves-effect waves-button waves-light" 
                (click)="doClose()">OK</button>
        </div>
    </div>
</div>