.sub-menu {    
    overflow: hidden;    
    max-height: 0px;    
    transition: max-height 0.5s ease;

    &.active {             
        max-height: 1000px;        
        transition: max-height 2s ease;
    }        
}    

#menuPrincipal {
   
}

ul {
    display: block !important;
}

#sidebar_main {

}