﻿<aside id="sidebar_main">        
    <perfect-scrollbar>
    <div class="menu_section">            
        <ul id="menuPrincipal">
            <li class="" title="Dashboard" >
                <a href="#">
                <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                <span class="menu_title">Dashboard</span>
                </a>                    
            </li>
            <li class="" title="Transaction Search" *ngIf="showIf('TRANSACTION_SEARCH')">
                <a href="#">
                <span class="menu_icon"><i class="material-icons">&#xE8B6;</i></span>
                <span class="menu_title">Transaction Search</span>
                </a>
            </li>
            <li class="" title="Email Search" *ngIf="showIf('EMAIL_SEARCH')">
                <a [routerLink]="['virtual-terminal']">
                <span class="menu_icon"><i class="material-icons">&#xE8B6;</i></span>
                <span class="menu_title">Email Search</span>
                </a>
            </li>
            <li class="" title="Virtual Terminal" *ngIf="showIf('VIRTUAL_TERMINAL')">
                <a [routerLink]="['virtual-terminal']">
                <span class="menu_icon"><i class="material-icons">computer</i></span>
                <span class="menu_title">Virtual Terminal</span>
                </a>
            </li>
            <li title="Invoice" *ngIf="showIf('INVOICE_DETAILS')" class="submenu_trigger" (click)="toggle('INVOICE_DETAILS')">
                <a>
                <span class="menu_icon"><i class="material-icons">&#xE53E;</i></span>
                <span class="menu_title">Invoice</span>
                </a>
                <ul class="sub-menu" [ngClass]="{'active' : menuToggle['INVOICE_DETAILS'] }">
                    <li class=""><a [routerLink]="['invoice-payment']">Payment</a></li>
                    <li class=""><a href="#">Search</a></li>
                </ul>
            </li>
            <li title="Order" *ngIf="showIf('ORDER_SEARCH')" class="submenu_trigger">
                <a (click)="toggle('ORDER_SEARCH')">
                <span class="menu_icon"><i class="material-icons">monetization_on</i></span>
                <span class="menu_title">Order</span>
                </a>
                <ul class="sub-menu" [ngClass]="{'active' : menuToggle['ORDER_SEARCH'] }">
                    <li class=""><a [routerLink]="['order-payment']">Payment</a></li>
                    <li class=""><a href="#">Refund</a></li>
                    <li class=""><a href="#">Search</a></li>
                    <li class=""><a href="#">File Search</a></li>
                </ul>
            </li>
            <li title="Recurring Billing" *ngIf="showIf('RECURRING')" class="submenu_trigger" (click)="toggle('RECURRING')">
                <a>
                <span class="menu_icon"><i class="material-icons">autorenew</i></span>
                <span class="menu_title">Recurring Billing</span>
                </a>
                <ul class="sub-menu" [ngClass]="{'active' : menuToggle['RECURRING'] }">
                    <li class=""><a href="#">Subscription</a></li>
                    <li class=""><a href="#">Search</a></li>
                </ul>
            </li>
            <li class="" title="Secure Acceptance Test" *ngIf="showIf('SECURE_ACCEPTANCE_TEST')">
                <a>
                <span class="menu_icon"><i class="material-icons">done_all</i></span>
                <span class="menu_title">Secure Acceptance Test</span>
                </a>                    
            </li>
            <li class="" title="Settings" *ngIf="showIf('PROFILE_SETTINGS_GENERAL')" class="submenu_trigger" (click)="toggle('PROFILE_SETTINGS_GENERAL')">
                <a>
                <span class="menu_icon"><i class="material-icons">settings_applications</i></span>
                <span>Settings</span>
                </a>
                <ul class="sub-menu" [ngClass]="{'active' : menuToggle['PROFILE_SETTINGS_GENERAL'] }">
                    <li class="" title="Account" *ngIf="showIf('')">
                        <a href="#" title="Account">                        
                        <span class="menu_title">Account</span>
                        </a>                      
                    </li>
                    <li class="" title="Payment Methods" *ngIf="showIf('PAYMENT_METHODS')"  class="submenu_trigger" (click)="toggle('PAYMENT_METHODS')">
                        <a title="Payment Methods">
                        <span class="menu_title">Payment Methods</span>
                        </a>
                        <ul *ngIf="showIf('CARDS')" class="sub-menu" [ngClass]="{'active' : menuToggle['PAYMENT_METHODS'] }">
                            <li class="">
                                <a href="#" title="Credit Card">
                                Credit Card</a>
                            </li>
                            <li class="">
                                <a href="#" title="Eletronic Check">
                                Eletronic Check</a>
                            </li>
                            <li class="">
                                <a href="#" title="PayPal">
                                PayPal</a>
                            </li>
                            <li class="">
                                <a href="#" title="Visa Checkout">
                                Visa Checkout</a>
                            </li>
                            <li class="">
                                <a href="#" title="Apple Pay">
                                Apple Pay</a>
                            </li>
                            <li class="">
                                <a href="#" title="E-mail">
                                E-mail</a>
                            </li>
                            <li class="">
                                <a href="#" title="Masterpass">
                                Masterpass</a>
                            </li>
                            <li class="">
                                <a href="#" title="Eletronic Transfer">
                                Eletronic Transfer</a>
                            </li>
                            <li class="">
                                <a href="#" title="Debit Card">
                                Debit Card</a>
                            </li>
                            <li class="">
                                <a href="#" title="Token">
                                Token</a>
                            </li>
                        </ul>
                    </li>
                    <li class="" *ngIf="showIf('SECURE_ACCEPTANCE_SETTINGS')">
                        <a href="#" title="Secure Acceptance" >Secure Acceptance</a>
                    </li>
                    <li class="" *ngIf="showIf('TOKENIZATION_SETTINGS')">
                        <a href="#" title="Tokenization Service">Tokenization</a>
                    </li>
                    <li class="" *ngIf="showIf('VIRTUAL_TERMINAL_SETTINGS')">
                        <a href="#" title="Virtual Terminal">Virtual Terminal</a>
                    </li>
                    <li class="" *ngIf="showIf('RECURRING')">
                        <a href="#" title="Recurring">Recurring</a>
                    </li>
                    <li class="" *ngIf="showIf('SETTINGS_SMART_TRANSACTION')">
                        <a href="#" title="Smart Transactions">Smart Transactions</a>
                    </li>
                    <li class="" *ngIf="showIf('')">
                        <a href="#" title="Display Messages">Display Messages</a>
                    </li>
                    <li class="" *ngIf="showIf('')">
                        <a href="#" title="Product Catalog">Product Catalog</a>
                    </li>
                    <li class="" *ngIf="showIf('SETTINGS_TRANSACTION_SIMULATION')">
                        <a href="#" title="Transaction Simulation">Transaction Simulation</a>
                    </li>
                    <li class="" *ngIf="showIf('SETTINGS_EMAIL_TEMPLATES')">
                        <a href="#">
                        <span>E-mail Templates</span>
                        </a>
                    </li>
                    <li *ngIf="showIf('')" class="submenu_trigger" (click)="toggle('access_grup')">
                        <a >
                        <i class="fa fa-angle-right"></i> <span>Access Group</span>
                        <i class="fa fa-angle-left pull-right"></i>       
                        </a>
                        <ul class="sub-menu" [ngClass]="{'active' : menuToggle['access_grup'] }">
                            <li class="" *ngIf="showIf('SETTINGS_PERMISSIONS')">
                                <a href="#" title="Permissions">Permissions</a>
                            </li>
                            <li class="" *ngIf="showIf('SETTINGS_PERMISSION_DEFAULT')">
                                <a href="#" title="Permission Default">Permission Default</a>
                            </li>
                            <li class="" *ngIf="showIf('SETTINGS_SECTIONS')">
                                <a href="#" title="Sections">Sections</a>
                            </li>
                            <li class="" *ngIf="showIf('SETTINGS_USERS')">
                                <a href="#" title="Permission Sections">Users
                                </a>
                            </li>
                            <li class="" *ngIf="showIf('SETTINGS_PROFILES')">
                                <a href="#" title="Profiles">
                                Profiles</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="" title="Accounts" *ngIf="showIf('')">
                <a [routerLink]="['account']">
                <span class="menu_icon"><i class="material-icons">group</i></span>
                <span class="menu_title">Accounts</span>             
                </a>
            </li>
            <li class="" *ngIf="showIf('PROVIDER')">
                <a [routerLink]="['provider']">
                <span class="menu_icon"><i class="material-icons">device_hub</i></span>
                <span class="menu_title">Provider</span>
                </a>
            </li>
            <li class="" title="Payment Methods" *ngIf="showIf('PAYMENT_METHODS')">
                <a [routerLink]="['payment-methods']">
                <span class="menu_icon"><i class="material-icons">credit_card</i></span>
                <span class="menu_title">Payment Methods</span>             
                </a>
            </li>
            <li class="" title="Cards" *ngIf="showIf('CARDS')">
                <a [routerLink]="['cards']">
                <span class="menu_icon"><i class="material-icons">view_column</i></span>
                <span class="menu_title">Cards</span>
                </a>
            </li>
            <li class="" title="Banks" *ngIf="showIf('')">
                <a [routerLink]="['banks']">
                <span class="menu_icon"><i class="material-icons">account_balance</i></span>
                <span class="menu_title">Banks</span>
                </a>
            </li>
            <li class="" title="Transaction Origin" *ngIf="showIf('SETTINGS_TRANSACTION_ORIGIN')">
                <a [routerLink]="['txn-origin']">
                <span class="menu_icon"><i class="material-icons">transform</i></span>
                <span class="menu_title">Transaction Origin</span>             
                </a>
            </li>
            <li class="" title="Transaction Types" *ngIf="showIf('TRANSACTION_TYPES')">
                <a [routerLink]="['transaction-types']">
                <span class="menu_icon"><i class="material-icons">list</i></span>
                <span class="menu_title">Transaction Types</span>             
                </a>
            </li>
            <li class="" title="Security Codes" *ngIf="showIf('SECURITY_CODES')">
                <a [routerLink]="['security-codes']">
                <span class="menu_icon"><i class="material-icons">spellcheck</i></span>
                <span class="menu_title">Security Codes</span>             
                </a>
            </li>
            <li class="" title="Reason Codes" *ngIf="showIf('SETTINGS_REASON_CODES')">
                <a [routerLink]="['reason-codes']">
                <span class="menu_icon"><i class="material-icons">format_list_numbered</i></span>
                <span class="menu_title">Reason Codes</span>             
                </a>
            </li>
            <li class="" title="Currencies" *ngIf="showIf('CURRENCIES')">
                <a [routerLink]="['currencies']">
                <span class="menu_icon"><i class="material-icons">perm_data_setting</i></span>
                <span class="menu_title">Currencies</span>             
                </a>
            </li>
            <li class="" title="Settings" *ngIf="showIf('SETTINGS')">
                <a [routerLink]="['settings']">
                <span class="menu_icon"><i class="material-icons">tune</i></span>
                <span class="menu_title">Settings</span>
                </a>
            </li>            
        </ul>    
    </div>
</perfect-scrollbar>
  </aside>