<div id="page_content">
    <div id="page_content_inner">
            <h3 class="heading_b uk-margin-bottom">{{'terminalVirtual' | translate}}</h3>
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">reorder</i> {{'orderDetails' | translate}}
                </h3>
            </div>
            <div class="md-card-content">
                <form class="form_validation" [formGroup]="form" novalidate>
                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2 uk-row-first">
                            <div class="parsley-row">                                                
                                <mat-form-field class="full-width">
                                    <mat-select placeholder="{{'transactionOrigin' | translate}}" formControlName="TXN_ORIGIN">                      
                                        <mat-option *ngFor="let transactionOrigin of transactionOrigins" [value]="transactionOrigin.ID">
                                        {{transactionOrigin.TXN_ORIGIN}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                
                        <div class="uk-width-medium-1-2 uk-row-first">
                            <div class="parsley-row">
                                <mat-form-field class="full-width">
                                    <input required matInput placeholder="{{'refererCode' | translate}}" maxlength="100" formControlName="REF_CODE">
                                    <mat-error *ngIf="f('REF_CODE').invalid">{{getErrorMessage(f('REF_CODE'))}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>   
                </form>
            </div>
        </div>

        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">reorder</i> {{'items' | translate}}
                </h3>
            </div>
            <div class="md-card-content">
                <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                    <div class="uk-width-medium-1-1 uk-row-first">
                        <div class="parsley-row">                                                
                            <data-list 
                                [rows]="productList.rows" 
                                [columns]="productList.columns" 
                                [labels]="productList.labels"
                                (remove)="remove($event)"
                                (edit)="edit(modalForm, $event)">
                            </data-list>
                        </div>
                        <div class="parsley-row">                                                
                            <button type="button" class="md-btn md-btn-primary md-btn-wave-light" (click)="createNew(modalForm)" data-uk-modal>
                                <i class="material-icons">playlist_add</i> {{'addProducts' | translate}}
                            </button>
                        </div>
                        <div class="parsley-row uk-margin-top">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="{{'totalValue' | translate}}" type="number" readonly value="{{getTotal()}}">
                            </mat-form-field>
                        </div>
                    </div>
                </div>   
            </div>
        </div>        
        
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-width-medium-1-10">
                    <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">{{'save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="product-form" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog" style="top: 30px">
      <a href="" class="uk-modal-close uk-close"></a>
      <product-form #modalForm (submit)="closeModal()" (add)="addToList($event)" [productList]="productList.rows"></product-form>
    </div>
</div>