<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">playlist_add</i> {{title()}}</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">                
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Transaction Type" maxlength="21" formControlName="TXN_NAME">
                    <mat-error *ngIf="f('TXN_NAME').invalid">{{getErrorMessage(f('TXN_NAME'))}}</mat-error>
                </mat-form-field>                
            </div>
        </div>
              
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Display Name" maxlength="100" formControlName="DISPLAY_NAME">
                    <mat-error *ngIf="f('DISPLAY_NAME').invalid">{{getErrorMessage(f('DISPLAY_NAME'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>        

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">                                                
                <mat-form-field>
                    <mat-select placeholder="Provider" formControlName="PROVIDER_ID" required>                      
                      <mat-option *ngFor="let provider of providers" [value]="provider.ID">
                        {{provider.NAME}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f('PROVIDER_ID').invalid">{{getErrorMessage(f('PROVIDER_ID'))}}</mat-error>                                        
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field>
                    <mat-select placeholder="Type" formControlName="TYPE" required>                      
                        <mat-option *ngFor="let type of ['Credit Card','e-Check','Internal','E-mail']" [value]="type">
                        {{type}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f('TYPE').invalid">{{getErrorMessage(f('TYPE'))}}</mat-error>                                        
                </mat-form-field>
            </div>
        </div>
    </div>
       
    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">Save</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">Back</button>
        </div>
    </div>
</form>