<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">device_hub</i> Provider                
                </h3>
            </div>
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="row-border hover uk-table uk-table-hover uk-table-striped dataTable">
                    <thead>
                        <tr>
                            <th>Provider</th>
                            <th>Account Update</th>
                            <th>Production</th>
                            <th>Active</th>
                            <th>Tokenization Service</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let provider of providers; index as index; let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}">
                            <td>{{ provider.NAME }}</td>
                            <td><span class="uk-badge" [ngClass]="{'uk-badge-success' : provider.ACCOUNT_UPDATE_FLAG == 'Y', 'uk-badge-danger' : provider.ACCOUNT_UPDATE_FLAG != 'Y'}">{{ provider.ACCOUNT_UPDATE_FLAG == 'Y' ? 'Yes' : 'No'}}</span></td>
                            <td><span class="uk-badge" [ngClass]="{'uk-badge-success' : provider.PRD_FLAG == 'Y', 'uk-badge-danger' : provider.PRD_FLAG != 'Y'}">{{ provider.PRD_FLAG == 'Y' ? 'Yes' : 'No' }}</span></td>
                            <td><span class="uk-badge" [ngClass]="{'uk-badge-success' : provider.ACTIVE == 'Y', 'uk-badge-danger' : provider.ACTIVE != 'Y'}">{{ provider.ACTIVE == 'Y' ? 'Yes' : 'No' }}</span></td>
                            <td><span class="uk-badge" [ngClass]="{'uk-badge-success' : provider.TOKENIZATION_FLG == 'Y', 'uk-badge-danger' : provider.TOKENIZATION_FLG != 'Y'}">{{ provider.TOKENIZATION_FLG == 'Y' ? 'Yes' : 'No' }}</span></td>
                            <td>
                                <a id="bt-edit" [routerLink]="['/provider/edit/'+provider.ID]"><i class="md-icon material-icons">mode_edit</i></a>
                                <a (click)="removeProvider(provider.ID)"><i class="md-icon material-icons">delete_forever</i></a>
                            </td>
                            </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" href="javascript:void(0)" [routerLink]="['/provider/create']">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>