<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">drafts</i>Produtos</h3>
</div>

<ul class="uk-tab uk-tab-grid" data-uk-switcher="{connect:'#form', animation: 'slide-horizontal'}">
    <li class="uk-width-1-2" [class.uk-active]="activePage == 0"><a href="javascript:void(0)" (click)="activePage = 0">
        <i class="material-icons">list</i>Catálogo de produtos</a>
    </li>
    <li *ngIf="!id" class="uk-width-1-2" [class.uk-active]="activePage == 1"><a href="javascript:void(0)" (click)="activePage = 1">
        <i class="material-icons">playlist_add</i>Novo produto</a>
    </li>
</ul>

<!-- These are the containers of the content items -->
<ul id="form" class="uk-switcher" #switcher>
    <li><ng-container *ngTemplateOutlet="listTemplate"></ng-container></li>
    <li *ngIf="!id"><ng-container *ngTemplateOutlet="listTemplate"></ng-container></li>
</ul>

<ng-template #listTemplate>
    <form class="form_validation" [formGroup]="activeForm" novalidate>
        <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 uk-row-first">
                <div class="parsley-row">                                                
                    <mat-form-field class="full-width">
                        <mat-select #selectValue *ngIf="activePage == 0" [(value)]="selectedProduct" required placeholder="{{'product' | translate}}" (selectionChange)="formList.patchValue($event.value)">                      
                            <mat-option *ngFor="let product of products" [value]="product">
                            {{product.PRODUCT}}
                            </mat-option>
                        </mat-select>
                        <input *ngIf="activePage == 1" matInput required placeholder="{{'product' | translate}}" maxlength="100" formControlName="PRODUCT">
                        <mat-error *ngIf="f('PRODUCT').invalid">{{getErrorMessage(f('PRODUCT'))}}</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="uk-width-medium-1-2 uk-row-first">
                <div class="parsley-row">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{'productCode' | translate}}" maxlength="100" formControlName="SKU">
                        <mat-error *ngIf="f('SKU').invalid">{{getErrorMessage(f('SKU'))}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>   
        
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-4 uk-row-first">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'quantity' | translate}}" type="number" min="1" formControlName="QUANTITY">
                    <mat-error *ngIf="f('QUANTITY').invalid">{{getErrorMessage(f('QUANTITY'))}}</mat-error>
                </mat-form-field>
            </div>
            <div class="uk-width-medium-1-4 uk-row-first">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'unitPrice' | translate}}" type="number" min="1" formControlName="UNIT_PRICE">
                    <mat-error *ngIf="f('UNIT_PRICE').invalid">{{getErrorMessage(f('UNIT_PRICE'))}}</mat-error>
                </mat-form-field>
            </div>
            <div class="uk-width-medium-1-4 uk-row-first">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{'taxValue' | translate}}" type="number" min="1" formControlName="SALES_TAX">
                    <mat-error *ngIf="f('SALES_TAX').invalid">{{getErrorMessage(f('SALES_TAX'))}}</mat-error>
                </mat-form-field>
            </div>	
            <div class="uk-width-medium-1-4 uk-row-first">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{'totalValue' | translate}}" type="number" min="1" readonly formControlName="TOTAL_VALUE" value="{{getTotal()}}">
                    <mat-error *ngIf="f('TOTAL_VALUE').invalid">{{getErrorMessage(f('TOTAL_VALUE'))}}</mat-error>
                </mat-form-field>
            </div>							
        </div> 
    </form> 

    <div class="uk-modal-footer uk-grid uk-margin-small2-top">
        <div class="uk-width-medium-1-2 uk-row-first uk-text-left" [style.padding.px]="0">
            <mat-error *ngIf="productAdded && !id && activePage == 0">
                <i class="material-icons uk-text-danger">error</i>
                This product is already added.
            </mat-error>
            <mat-error *ngIf="productAdded && id" class="uk-text-success">
                <i class="material-icons uk-text-success">error</i>
                Product updated successfully.
            </mat-error>
            <mat-error *ngIf="productAdded && !id && activePage == 1" class="uk-text-danger">
                <i class="material-icons uk-text-danger">error</i>
                Product already exists.
            </mat-error>
        </div>
        <div class="uk-width-medium-1-2 uk-row-first uk-text-right">
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="productAdded = false; submit.emit()">{{'close' | translate}}</button>
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="addToList()">{{'modify' | translate}}</button>
        </div>

    </div>
</ng-template> 
    
