<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">receipt</i> {{ 'preauthorization' | translate }} </h3>
</div>
<div class="uk-grid uk-margin-small2-top">
    <div id="preauth_orders_regular" class="uk-width-medium-1-1" style="display: block;" *ngIf="regularOrders && regularOrders.length">
        <h4>{{'regularOrders' | translate}}</h4>
        <table class="uk-table uk-table-striped" cellpadding="5">
            <tbody>
                <tr>
                    <th width="15%" class="uk-text-center">{{'orderNumber' | translate}}</th>
                    <th width="15%" class="uk-text-right">{{'totalAmount' | translate}}</th>
                    <th class="uk-text-center">{{'requestID' | translate}} / {{'status' | translate}} </th>
                </tr>
                <tr *ngFor="let ro of regularOrders">
                    <td class="uk-text-center">{{ ro.ORDERNUMBER }}</td>
                    <td class="uk-text-right" >{{ ro.AMOUNT }}</td>
                    <td class="uk-text-center">{{ ro.REQUEST_ID }} / {{ ro.STATUS }}</td>
                </tr>
                <tr *ngIf="bShowAmountFee == 'ro'">
                    <td></td>
                    <td class="uk-text-right">{{ amountFee }}</td>
                    <td class="uk-text-left">{{ 'totalFee' | translate }}</td>
                </tr>
                <tr>
                    <th>{{'totalAmount' | translate }}</th>
                    <th class="uk-text-right">{{ roTotal }}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="preauth_orders_custom" class="uk-width-medium-1-1" style="display: block; margin-top: 24px;" *ngIf="customizedOrders && customizedOrders.length">
        <h4>{{'customOrders' | translate}}</h4>
        <table class="uk-table uk-table-striped" cellpadding="5">
            <tbody>
                <tr>
                    <th width="15%" class="uk-text-center">{{'orderNumber' | translate}}</th>
                    <th width="15%" class="uk-text-right">{{'totalAmount' | translate}}</th>
                    <th class="uk-text-center">{{'requestID' | translate}} / {{'status' | translate}} </th>
                </tr>
                <tr *ngFor="let co of customizedOrders">
                    <td class="uk-text-center">{{ co.ORDERNUMBER }}</td>
                    <td class="uk-text-right" >{{ co.AMOUNT }}</td>
                    <td class="uk-text-center">{{ co.REQUEST_ID }} / {{ co.STATUS }}</td>
                </tr>
                <tr *ngIf="bShowAmountFee == 'co'">
                    <td></td>
                    <td class="uk-text-right">{{ amountFee }}</td>
                    <td class="uk-text-left">{{ 'totalFee' | translate }}</td>
                </tr>
                <tr>
                    <th>{{'totalAmount' | translate }}</th>
                    <th class="uk-text-right">{{ coTotal }}</th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="uk-grid uk-margin-small2-top">
    <div class="uk-width-medium-1-1" style="text-align: justify; margin-bottom: 10px;">
        {{'agreementNotice' | translate}}
    </div>
</div>
<div class="uk-grid uk-margin-small2-top" *ngIf="card">
    <div class="uk-width-medium-1-2" id="preauth_billing_info">
        <h3><i class="material-icons">error</i> {{ 'billingInformation' | translate }}</h3>
        <div id="preauth_billing_info_content">
            <div id="receipt_billTo_name">{{ card.billingInfo.BILLTO_FIRSTNAME }} {{ card.billingInfo.BILLTO_LASTNAME }}</div>
            <div id="receipt_billTo_street1">{{ card.billingInfo.BILLTO_STREET1 }} {{ card.billingInfo.BILLTO_STREET_NUMBER }}</div>
            <div id="receipt_billTo_city">{{ card.billingInfo.BILLTO_CITY }}</div>
            <div id="receipt_billTo_state">{{ card.billingInfo.BILLTO_STATE }}</div>
            <div id="receipt_billTo_country">{{ card.billingInfo.BILLTO_COUNTRY }}</div>
            <div id="receipt_billTo_postalCode">{{ card.billingInfo.BILLTO_POSTALCODE }}</div>
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <h3><i class="material-icons">payment</i> {{'paymentDetails' | translate}}</h3>
        <div id="preauth_card_info">
            <div>
                <div class="uk-text-bold">{{'cardNumber' | translate}}: <span id="receipt_credit_card" class="uk-text-normal">{{ accountNumber }}</span></div>
                <div class="uk-text-bold">{{'cardType' | translate}}: <span id="receipt_credit_card_type" class="uk-text-normal">{{ card.model.CARD }}</span></div>
            </div>
        </div>
    </div>
</div>
<div class="uk-modal-footer uk-text-right">
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-default md-btn-small md-btn-wave-light uk-modal-close waves-effect waves-button waves-light">{{'close' | translate}}</button>
            <button id="print-receipt" data-type="resp-receipt-success" type="button" 
            class="print-receipt md-btn md-btn-primary md-btn-small md-btn-wave-light waves-effect waves-button waves-light">{{'print' | translate}}</button>
        </div>
    </div>
</div>