<div id="page_content">
    
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">group</i> {{'accounts' | translate}}
                </h3>
            </div>
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <div class="uk-overflow-container">
                    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" style="width:100%" 
                    class="row-border hover uk-table uk-table-hover uk-table-striped dataTable nowrap">                                            
                        <thead>
                            <tr>
                                <th>{{'company' | translate}}</th>
                                <th>{{'address' | translate}}</th>
                                <th>{{'city' | translate}}</th>
                                <th>{{'state' | translate}}</th>
                                <th>{{'county' | translate}}</th>
                                <th>{{'country' | translate}}</th>
                                <th>{{'postalCode' | translate}}</th>
                                <th>{{'email' | translate}}</th>
                                <th>{{'actions' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let account of accounts">
                                <td>{{ account.NAME }}</td>
                                <td>{{ account.ADDRESS }}</td>
                                <td>{{ account.CITY }}</td>
                                <td>{{ account.STATE }}</td>
                                <td>{{ account.COUNTY }}</td>
                                <td>{{ account.COUNTRY }}</td>
                                <td>{{ account.POSTALCODE }}</td>
                                <td>{{ account.EMAIL }}</td>
                                <td>
                                    <a id="bt-edit" (click)="editAccount(form, account.ID)" data-uk-modal><i class="md-icon material-icons">mode_edit</i></a>
                                    <a (click)="removeAccount(account.ID)"><i class="md-icon material-icons">delete_forever</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                    
            </div>
        </div>
    </div>
</div>

<div id="account-form" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="top: 30px">
      <a href="" class="uk-modal-close uk-close"></a>
      <account-form #form (submit)="closeModal()"></account-form>
    </div>
  </div>

<div class="md-fab-wrapper">    
    <a class="md-fab md-fab-accent" (click)="newAccount(form)" data-uk-modal>
        <i class="material-icons">&#xE145;</i>
    </a>    
</div>