<div class="md-card min-margin-top">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">format_indent_increase</i> {{ 'invoiceDetails' | translate }}
        </h3>
    </div>    
    <div class="md-card-content">
        <div id="items-invoice-wrapper" class="dataTables_wrapper form-inline dt-uikit no-footer md-processed">
            <div class="dt-uikit-header">
                <div class="uk-grid">
                    <div class="uk-width-medium-2-3"></div>
                    <div class="uk-width-medium-1-3"></div>
                </div>
            </div>
            <div class="uk-overflow-container">
                <table datatable #invoiceDataTable id="invoice" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="uk-table uk-table-hover uk-table-striped dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="invoice-info">
                    <thead>
                        <tr role="row">
                            <th class="no-sort width5 uk-text-center sorting_disabled" width="5%" rowspan="1" colspan="1" aria-label=""></th>
                            <th width="10%" class="width10 sorting" tabindex="0" aria-controls="dt_invoice" rowspan="1" colspan="1" aria-label="Número da Fatura">
                                <span class="forceWhiteSpace">{{ 'invoiceNumber' | translate }}</span>
                            </th>
                            <th width="10%" class="width10 sorting" tabindex="0" aria-controls="dt_invoice" rowspan="1" colspan="1" aria-label="Data da Fatura">
                                <span class="forceWhiteSpace">{{ 'issueDate' | translate }}</span>
                            </th>
                            <th width="10%" class="width10 sorting" tabindex="0" aria-controls="dt_invoice" rowspan="1" colspan="1" aria-label="Data de Vencimento">
                                <span class="forceWhiteSpace">{{ 'dueDate' | translate }}</span>
                            </th>
                            <th width="10%" class="width10 uk-text-right sorting" tabindex="0" aria-controls="dt_invoice" rowspan="1" colspan="1" aria-label="Valor da Fatura (USD)">
                                <span class="forceWhiteSpace">{{ 'invoiceAmount' | translate }} (USD)</span>
                            </th>
                            <th width="10%" class="width10 uk-text-right sorting" tabindex="0" aria-controls="dt_invoice" rowspan="1" colspan="1" aria-label="Valor Pago">
                                <span class="forceWhiteSpace">{{ 'paidAmount' | translate }}</span>
                            </th>
                            <th width="10%" class="width10 uk-text-right sorting" tabindex="0" aria-controls="dt_invoice" rowspan="1" colspan="1" aria-label="Valor em Aberto">
                                <span class="forceWhiteSpace">{{ 'openAmount' | translate }}</span>
                            </th>
                            <th width="10%" class="no-sort width10 uk-text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Selecione para pagar
                            
                            ">
                                <span class="forceWhiteSpace">{{ 'selectToPay' | translate }}</span><br>
                                <input #invoiceCheckAll type="checkbox" (change)="checkAll(invoiceCheckAll.checked)" [(ngModel)]="invoiceAllChecked" name="chk[]" data-parsley-multiple="chk">
                            </th>
                            <th class="no-sort sorting_disabled" width="8%" rowspan="1" colspan="1" aria-label="Valor a pagar">
                                <span class="forceWhiteSpace">{{ 'amountToPay' | translate }}</span>
                            </th>
                            <th class="md-input no-sort sorting_disabled" width="17%" rowspan="1" colspan="1" aria-label="Instruções para pagamento">
                                <span class="forceWhiteSpace">{{ 'paymentInstructions' | translate }}</span>
                            </th>
                        </tr> 
                    </thead>
                    <tbody>
                        <ng-template ngFor let-i [ngForOf]="invoiceDetails" [ngForTrackBy]="indexTrackBy" let-even="even">
                            <tr [id]="i.ID" role="row" class="odd">
                                <td [id]="i.ID" class="uk-text-center"></td>
                                <td class="uk-text-center">{{ i.INVOICENUMBER }}</td>
                                <td class="uk-text-center">{{ i.ISSUE_DATE }}</td>
                                <td class="uk-text-center">{{ i.DUE_DATE }}</td>
                                <td class="uk-text-right">{{ i.TOTAL_AMOUNT }}</td>
                                <td class="uk-text-right">
                                    {{ i.PAID_AMOUNT }}
                                </td>
                                <td class="uk-text-right">{{ i.TOTAL_AMOUNT - i.PAID_AMOUNT }}</td>
                                <td class="uk-text-center">
                                    <input #invoiceCheck type="checkbox" (change)="check(i, invoiceCheck.checked)" [(ngModel)]="i.SELECTED" name="chk[]" data-parsley-multiple="chk">
                                </td>
                                <td>
                                    <div class="md-input-wrapper md-input-filled">
                                        <input type="number" min="0" step="0.01" oninput="validity.valid||(value='');" [name]="'AMOUNT_TO_PAY_' + i.ID" [id]="'AMOUNT_TO_PAY_' + i.ID" [(ngModel)]="i.AMOUNT_TO_PAY" class="uk-text-right md-input amount_to_pay_item" (change)="onChangeAmountToPay(i)">
                                        <span class="md-input-bar "></span>
                                    </div>
                                    <div class="AMOUNT_TO_PAY_ALERT" [id]="'AMOUNT_TO_PAY_ALERT_' + i.ID" *ngIf="i.TOTAL_AMOUNT < i.AMOUNT_TO_PAY">
                                            {{ 'amountToPayExceeds' | translate }}
                                    </div>
                                </td>
                                <td>
                                    <div class="md-input-wrapper">
                                        <label class="forceWhiteSpace">{{ 'paymentInstructions' | translate }}</label>
                                        <input type="text" maxlength="255" [id]="'pay_instructions_' + i.ID" [name]="'pay_instructions_' + i.ID" class="md-input pay_instructions" value="">
                                        <span class="md-input-bar "></span>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td class="uk-text-right"> 
                                <strong>Total</strong>
                            </td>
                            <td class="uk-text-right">
                                <strong>{{ totalAmount }}</strong>
                            </td>
                            <td class="uk-text-right">
                                <strong>{{ totalPaid }}</strong>
                            </td>
                            <td class="uk-text-right">
                                <strong>{{ totalOpen }}</strong>
                            </td>
                            <td align="uk-text-center">
                                <span *ngIf="showMinSelectError" class="error uk-text-danger">{{ 'oneOrMoreInvoicesMustBeSelected' | translate }}</span>
                            </td>                  
                            <td class="TxtTotalItens uk-text-right">
                                <strong id="total_paid_amount">{{ totalAmountToPay }}</strong>
                            </td>                  
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>