<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">playlist_add</i> {{'new' | translate}}</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'company' | translate}}" maxlength="255" formControlName="NAME">
                    <mat-error *ngIf="f('NAME').invalid">{{getErrorMessage(f('NAME')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'email' | translate}}" maxlength="255" formControlName="EMAIL">
                    <mat-error *ngIf="f('EMAIL').invalid">{{getErrorMessage(f('EMAIL')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'address' | translate}}" maxlength="255" formControlName="ADDRESS">
                    <mat-error *ngIf="f('ADDRESS').invalid">{{getErrorMessage(f('ADDRESS')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'city' | translate}}" maxlength="255" formControlName="CITY">
                    <mat-error *ngIf="f('CITY').invalid">{{getErrorMessage(f('CITY')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'state' | translate}}" maxlength="2" formControlName="STATE">
                    <mat-error *ngIf="f('STATE').invalid">{{getErrorMessage(f('STATE')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'country' | translate}}" maxlength="255" formControlName="COUNTRY">
                    <mat-error *ngIf="f('COUNTRY').invalid">{{getErrorMessage(f('COUNTRY')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="{{'postalCode' | translate}}" maxlength="9" formControlName="POSTALCODE">
                    <mat-error *ngIf="f('POSTALCODE').invalid">{{getErrorMessage(f('POSTALCODE')) | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">{{'save' | translate}}</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">{{'back' | translate}}</button>
        </div>
    </div>
</form>