<div id="payment_details" class="md-card">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">payment</i> {{ 'PMT_METHOD' | translate }}
        </h3>
    </div>
    <div class="md-card-content clearfix">
        <div class="parsley-row">
            <mat-radio-group [disabled]="!changeMethodPaymentEnabled">
                <span class="icheck-inline" *ngFor="let o of options">
                    <mat-radio-button [id]="'paymentMethod_' + o.ID" [value]="o.ID" (change)="onSelectOption(o)" [checked]="(o == selected) && (selected)">{{o.PAYMENT_METHOD | translate}}</mat-radio-button>
                </span>
            </mat-radio-group>
        </div>
    </div>
</div>
