<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text"><i class="material-icons">device_hub</i> Provider </h3>
            </div>
            <div class="md-card-content">
                <form class="form_validation" [formGroup]="providerForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-4">
                            <div class="parsley-row">
                                <label>Status</label>
                                <div class="uk-margin-small-top">
                                    <span class="icheck-inline">
                                        <label> <input type="radio" name="ACTIVE" [value]="'Y'" [checked]="provider.ACTIVE == 'Y'" (change)="updateProp('ACTIVE', 'Y')" required> Enabled </label>
                                    </span>
                                    <span class="icheck-inline">
                                        <label><input type="radio" name="ACTIVE" [value]="'N'" [checked]="provider.ACTIVE != 'Y'" (change)="updateProp('ACTIVE', 'N')" required> Disabled </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <div class="parsley-row">
                                <label>Production</label>
                                <div class="uk-margin-small-top">
                                    <span class="icheck-inline">
                                        <label><input type="radio" name="PRD_FLAG" [value]="'Y'" [checked]="provider.PRD_FLAG == 'Y'" (change)="updateProp('PRD_FLAG', 'Y')" required> Enabled </label>
                                    </span>
                                    <span class="icheck-inline">
                                        <label><input type="radio" name="PRD_FLAG" [value]="'N'" [checked]="provider.PRD_FLAG != 'Y'" (change)="updateProp('PRD_FLAG', 'N')" required> Disabled </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <div class="parsley-row">
                                <label>Account Update</label>
                                <div class="uk-margin-small-top">
                                    <span class="icheck-inline"> 
                                        <label><input type="radio" data-md-icheck name="ACCOUNT_UPDATE_FLAG" id="ACCOUNT_UPDATE_FLAG_1" [value]="'Y'" [checked]="provider.ACCOUNT_UPDATE_FLAG == 'Y'" (change)="updateProp('ACCOUNT_UPDATE_FLAG', 'Y')" required> Enabled </label>
                                    </span>
                                    <span class="icheck-inline">
                                        <label><input type="radio" data-md-icheck name="ACCOUNT_UPDATE_FLAG" id="ACCOUNT_UPDATE_FLAG_0" [value]="'N'" [checked]="provider.ACCOUNT_UPDATE_FLAG != 'Y'" (change)="updateProp('ACCOUNT_UPDATE_FLAG', 'N')" required> Disabled</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-4">
                            <div class="parsley-row">
                                <label>Tokenization Service</label>
                                <div class="uk-margin-small-top">
                                    <span class="icheck-inline">
                                        <label> <input type="radio" data-md-icheck name="TOKENIZATION_FLG" id="TOKENIZATION_FLG_1" [value]="'Y'" [checked]="provider.TOKENIZATION_FLG == 'Y'" (change)="updateProp('TOKENIZATION_FLG', 'Y')" required> Enabled </label>
                                    </span>
                                    <span class="icheck-inline">
                                        <label> <input type="radio" data-md-icheck name="TOKENIZATION_FLG" id="TOKENIZATION_FLG_0" [value]="'N'" [checked]="provider.TOKENIZATION_FLG != 'Y'" (change)="updateProp('TOKENIZATION_FLG', 'N')" required> Disabled </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <div class="parsley-row">
                                <label>Provider<span class="req"> *</span></label>
                                <input type="text" maxlength="100" name="NAME" id="NAME" [(ngModel)]="provider.NAME" [ngModelOptions]="{standalone: true}" class="md-input" required>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="parsley-row">
                                <label>Provider Code<span class="req"> *</span></label>
                                <input type="text" maxlength="5" name="PROVIDER_CODE" id="PROVIDER_CODE" [(ngModel)]="provider.PROVIDER_CODE" [ngModelOptions]="{standalone: true}" class="md-input" required>
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2">
                            <div class="parsley-row">
                                <select id="COUNTRY_ISO_CODE" name="COUNTRY_ISO_CODE" formControlName="COUNTRY_ISO_CODE" [(ngModel)]="provider.COUNTRY_ISO_CODE" required>
                                    <option value="">Country Code Format</option>
                                    <option value="ISO CODE 2">Alpha 2</option>
                                    <option value="ISO CODE 3">Alpha 3</option>
                                    <option value="ISO CODE NUMBER">Numeric</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="parsley-row">
                                <select id="DECIMAL_SEPARATOR" name="DECIMAL_SEPARATOR" formControlName="DECIMAL_SEPARATOR" [(ngModel)]="provider.DECIMAL_SEPARATOR" required>
                                    <option value="">Decimal Separator</option>
                                    <option value=",">Dot</option>
                                    <option value=".">Comma</option>
                                    <option value="0">None</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1">
                            <div class="parsley-row">
                                <label>Purchase Refund URL</label>
                                <input type="text" maxlength="255" name="RECONC_PURCHASE_REFUND_URL" id="RECONC_PURCHASE_REFUND_URL" [(ngModel)]="provider.RECONC_PURCHASE_REFUND_URL" [ngModelOptions]="{standalone: true}" class="md-input">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-1 uk-grid-margin uk-row-first">
                        <button class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Save</button>
                        <button [routerLink]="['/provider']" type="submit" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>