<div id="page_content">

    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">account_balance</i> {{'banks' | translate}}
                </h3>
            </div>
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <div class="uk-overflow-container">
                    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" style="width:100%" class="row-border hover uk-table uk-table-hover uk-table-striped dataTable nowrap">
                        <thead>
                            <tr>
                                <th>{{'bank' | translate}}</th>
                                <th>{{'provider' | translate}}</th>
                                <th>{{'providerBank' | translate}}</th>
                                <th>{{'bankType' | translate}}</th>
                                <th>{{'actions' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bank of banks">
                                <td>{{ bank.BANK }}</td>
                                <td>{{ bank.PROVIDER }}</td>
                                <td>{{ bank.PROVIDER_CODE }}</td>
                                <td>{{ bank.TYPE }}</td>                                                                
                                <td>
                                    <a id="bt-edit" (click)="edit(form, bank.ID)" data-uk-modal><i class="md-icon material-icons">mode_edit</i></a>
                                    <a (click)="delete(bank.ID)"><i class="md-icon material-icons">delete_forever</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bank-form" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="top: 30px">
        <a href="" class="uk-modal-close uk-close"></a>
        <bank-form #form (submit)="closeModal()"></bank-form>
    </div>
</div>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" (click)="createNew(form)" data-uk-modal>
        <i class="material-icons">&#xE145;</i>
    </a>
</div>