<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">tune</i> Settings
                </h3>
            </div>
            <div class="md-card-content">
                <form class="form_validation" [formGroup]="form" novalidate>
                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2 uk-row-first">
                            <div class="parsley-row">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="URL Payment Invoice" maxlength="255" formControlName="FTP_INVOICE_FOLDER">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-row-first">
                            <div class="parsley-row">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="URL Payment Order" maxlength="255" formControlName="FTP_ORDER_FOLDER">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-2 uk-row-first">
                            <div class="parsley-row">                                
                                <mat-label>Enable maintenance</mat-label>
                                <div class="uk-margin-small2-top">
                                    <mat-radio-group formControlName="MAINTENANCE_MODE">
                                        <mat-radio-button value="Y">Yes</mat-radio-button>
                                        <mat-radio-button value="N">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-row-first">
                            <div class="parsley-row">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="URL Rest" maxlength="255" formControlName="URL_REST">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
                        <div class="uk-width-medium-1-1 uk-row-first">
                            <app-tiny-editor #editor [elementId]="'my-editor'" (onEditorContentChange)="changeValue($event)">
                            </app-tiny-editor>
                        </div>
                    </div>


                </form>
            </div>
        </div>
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-width-medium-1-10">
                    <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>