<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            Única tela que tem algo -> <a [routerLink]="['../provider']">Providers</a>
        </div>
    </div>
</div>