﻿<header id="header_main">
    <div class="header_main_content">
        <nav class="uk-navbar">
            <div class="main_logo_top">
                <a href="#">
                <img class="logo_regular" src="../../../../assets/img/logo-4Pay-menu.png" alt="4Pay" /></a>
            </div>
            <span  (click)="toggleSidebar()" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
            <span class="sSwitchIcon"></span>
            </span>
            <span (click)="toggleSidebar()" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
            <span class="sSwitchIcon"></span>
            </span>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav user_actions">
                    <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                    <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}" [ngClass]="{'uk-open': profile}">
                        <!--a [routerLink]="['/logout']" class="user_action_image"><i class="material-icons md-36">account_circle</i></a-->
                        <a (click)="toggleProfile()" class="user_action_image"><i class="material-icons md-36">account_circle</i></a>
                        <div class="uk-dropdown uk-dropdown-xlarge" [ngClass]="{'uk-dropdown-active ': profile, 'uk-dropdown-shown': profile, 'uk-dropdown-bottom': profile}">
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-1-2">
                                    <ul class="uk-nav js-uk-prevent">
                                        <li>
                                            <div>
                                                <input type="hidden" name="load_edit_user_logged" value="L4PN">
                                            </div>
                                            <a data-user-id="L4PN" href='javascript:document.getElementById("frmCallEditMyProfile").submit();'><i class="material-icons">mode_edit</i> Edit my profile</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/logout']"><i class="material-icons">power_settings_new</i> Logout</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="uk-width-1-2">
                                    <h5><i class="material-icons">library_books</i> Selected profile</h5>
                                    <p>Principal do Alex, nunca apagar</p>
                                    <a id="change_profile" href="#"><i class="material-icons">cached</i> Select another profile</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="header_main_search_form">
        <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
        <div class="uk-form uk-autocomplete">
            <input type="text" id="search_header" class="header_main_search_input" />
            <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
        </div>
    </div>
</header>