.min-margin-top {
    margin-top: 25px;
}

td.details-control {
    cursor: pointer;
}

tr.details td.details-control {
    background: blue no-repeat center center;
}

.orderItem {
    width: 100%;
}

.txn-operation-no-space {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    border-bottom-width: 0px;
    width: 100%;
}

.txn-operation-no-space .th{
    box-sizing: unset;
    width: 100%;
}

.even {
    padding-bottom: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; border-bottom-width: 0px;
}

.uk-table tfoot td, .uk-table tfoot th, .uk-table thead th {
    font-style: normal;
    font-weight: bold;
    color: #212121;
    font-size: 14px;
}

.uk-table td {
    vertical-align: middle;
}