<div class="md-card min-margin-top">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">format_indent_increase</i> {{ 'orderDetails' | translate }}
        </h3>
    </div>
    <div class="md-card-content">
        <div id="items-order-regular_wrapper" class="dataTables_wrapper form-inline dt-uikit no-footer md-processed">
            <div class="dt-uikit-header">
                <div class="uk-grid">
                    <div class="uk-width-medium-2-3"></div>
                    <div class="uk-width-medium-1-3"></div>
                </div>
            </div>
            <div class="uk-overflow-container">
                <table datatable #regularOrdersDataTable id="regular-orders" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="dt_order uk-table uk-table-hover uk-table-striped dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="regular-orders-info">
                    <thead>
                        <tr role="row">
                            <th width="5%" class="no-sort uk-text-center sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
                            <th width="15%" class="no-sort uk-text-center sorting_disabled" rowspan="1" colspan="1" aria-label="
                                Select to Authorize
                                ">
                                <span class="forceWhiteSpace">{{ 'selectToAuthorize' | translate }}</span><br>
                                <input #regularOrderCheckAll type="checkbox" (change)="checkAll(regularOrderCheckAll.checked, regularOrdersDataTable.id)" [(ngModel)]="regularOrdersAllChecked" name="chk[]" data-parsley-multiple="chk">
                            </th>
                            <th width="15%" class="sorting" tabindex="0" aria-controls="regular-orders" rowspan="1" colspan="1" aria-label="Order Number: activate to sort column ascending"><span class="forceWhiteSpace">{{ 'number' | translate }}</span></th>
                            <th width="15%" class="sorting" tabindex="0" aria-controls="regular-orders" rowspan="1" colspan="1" aria-label="PO #: activate to sort column ascending"><span class="forceWhiteSpace">PO #</span></th>
                            <th width="10%" class="sorting" tabindex="0" aria-controls="regular-orders" rowspan="1" colspan="1" aria-label="Order Date: activate to sort column ascending"><span class="forceWhiteSpace">{{ 'date' | translate }}</span></th>
                            <th width="15%" class="uk-text-right sorting" tabindex="0" aria-controls="regular-orders" rowspan="1" colspan="1" aria-label="Order Amount (USD): activate to sort column ascending"><span class="forceWhiteSpace">{{ 'orderAmount' | translate }} (USD)</span></th>
                            <th width="10%" class="uk-text-right sorting" tabindex="0" aria-controls="regular-orders" rowspan="1" colspan="1" aria-label="Amount to Authorize: activate to sort column ascending"><span class="forceWhiteSpace">{{ 'amountToAuthorize' | translate }}</span></th>
                            <th class="no-sort sorting_disabled" rowspan="1" colspan="1" aria-label="Payment Instructions"><span class="forceWhiteSpace">{{ 'paymentInstructions' | translate }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-ro [ngForOf]="regularOrders" [ngForTrackBy]="indexTrackBy" let-even="even">
                            <tr [id]="ro.ORDERNUMBER" class="AUTHORIZATION odd" role="row">
                                <td [id]="'plus_' + ro.ORDERNUMBER" class="details-control uk-text-center">
                                    <i [id]="'icon_plus_minus_' + ro.ORDERNUMBER" class="uk-icon-plus" (click)="openDetails(ro, regularOrdersDataTable.id)" *ngIf="ro.NUM_ITEMS"></i>
                                </td>
                                <td class="uk-text-center">
                                    <input #orderCheck [id]="'check_' + ro.ORDERNUMBER" type="checkbox" (change)="check(ro, orderCheck.checked, regularOrdersDataTable.id)" [(ngModel)]="ro.SELECTED" class="amountItem minimal" rel="0" [value]="ro.ORDER_AMOUNT" name="order_item_regular">
                                </td>
                                <td>{{ ro.ORDERNUMBER }}</td>
                                <td>{{ ro.PONUMBER }}</td>
                                <td>{{ ro.ISSUE_DATE }}</td>
                                <td class="uk-text-right">
                                    {{ ro.ORDER_AMOUNT }}
                                </td>
                                <td class="uk-text-right">
                                    {{ ro.AMOUNT_TO_AUTHORIZE }}
                                </td>
                                <td>
                                    <div class="md-input-wrapper">
                                        <label class="forceWhiteSpace">{{ 'paymentInstructions' | translate }}</label>
                                        <input type="text" [(ngModel)]="ro.PAYMENT_INSTRUCTIONS" maxlength="255" data-order_number="ro.ORDERNUMBER" data-order="ro.ISSUE_DATE" id="pay_instructions_L42TQM" class="md-input pay_instructions" value="">
                                        <span class="md-input-bar "></span>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td class="uk-text-right"> <strong>Total(USD)</strong></td>
                            <td class="uk-text-right"> <strong>{{ totalRegular }}</strong></td>                            
                            <td class="uk-text-right TxtTotalitemsOrder"> 
                                <strong id="total_paid_amount_regular"> {{ totalToAuthorizeRegular }} </strong>
                            </td>
                            <td align="uk-text-center">
                                <span *ngIf="showMinSelectError" class="error uk-text-danger">{{ 'oneOrMoreOrdersMustBeSelected' | translate }}</span>
                            </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="md-card min-margin-top">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">format_indent_increase</i> {{ 'orderDetails' | translate }} - {{ 'customized' | translate }}
        </h3>
    </div>
    <div class="md-card-content">
        <div id="items-order-regular_wrapper" class="dataTables_wrapper form-inline dt-uikit no-footer md-processed">
            <div class="dt-uikit-header">
                <div class="uk-grid">
                    <div class="uk-width-medium-2-3"></div>
                    <div class="uk-width-medium-1-3"></div>
                </div>
            </div>
            <div class="uk-overflow-container">
                <table datatable #customizedOrdersDataTable id="customized-orders" [dtTrigger]="dtTriggerCustomized" [dtOptions]="dtOptionsCustomized" class="dt_order uk-table uk-table-hover uk-table-striped dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="customized-orders-info">
                    <thead>
                        <tr role="row">
                            <th width="5%" class="no-sort uk-text-center sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
                            <th width="15%" class="sorting" tabindex="0" aria-controls="customized-orders" rowspan="1" colspan="1" aria-label="Order Number: activate to sort column ascending">
                                <span class="forceWhiteSpace">{{ 'number' | translate }}</span>
                            </th>
                            <th width="15%" class="sorting" tabindex="0" aria-controls="customized-orders" rowspan="1" colspan="1" aria-label="PO #: activate to sort column ascending">
                                <span class="forceWhiteSpace">PO #</span>
                            </th>
                            <th width="10%" class="sorting" tabindex="0" aria-controls="customized-orders" rowspan="1" colspan="1" aria-label="Order Date: activate to sort column ascending">
                                <span class="forceWhiteSpace">{{ 'date' | translate }}</span>
                            </th>
                            <th width="15%" class="uk-text-right sorting" tabindex="0" aria-controls="customized-orders" rowspan="1" colspan="1" aria-label="Order Amount (USD): activate to sort column ascending">
                                <span class="forceWhiteSpace">{{ 'orderAmount' | translate }} (USD)</span>
                            </th>
                            <th width="15%" class="no-sort uk-text-center sorting_disabled" rowspan="1" colspan="1" aria-label="
                                Select to Authorize
                                ">
                                <span class="forceWhiteSpace">{{ 'selectToPay' | translate }}</span><br>
                                <input #customizedOrderCheckAll type="checkbox" (change)="checkAll(customizedOrderCheckAll.checked, customizedOrdersDataTable.id)" [(ngModel)]="customizedOrdersAllChecked" name="chk[]" data-parsley-multiple="chk">
                            </th>
                            <th width="10%" class="uk-text-right sorting" tabindex="0" aria-controls="customized-orders" rowspan="1" colspan="1" aria-label="Amount to Pay: activate to sort column ascending">
                                <span class="forceWhiteSpace">{{ 'amountToPay' | translate }}</span>
                            </th>
                            <th class="no-sort sorting_disabled" rowspan="1" colspan="1" aria-label="Payment Instructions">
                                <span class="forceWhiteSpace">{{ 'paymentInstructions' | translate }}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr #allCustomizedOrders *ngFor="let ro of customizedOrders; let i=index" [id]="ro.ORDERNUMBER" class="AUTHORIZATION odd" role="row">
                            <td [id]="'plus_' + ro.ORDERNUMBER" class="details-control uk-text-center">
                                
                                    <i [id]="'icon_plus_minus_' + ro.ORDERNUMBER" class="uk-icon-plus" (click)="openDetails(ro, customizedOrdersDataTable.id)" *ngIf="ro.NUM_ITEMS"></i>
                                
                            </td>
                            <td>{{ ro.ORDERNUMBER }}</td>
                            <td>{{ ro.PONUMBER }}</td>
                            <td>{{ ro.ISSUE_DATE }}</td>
                            <td class="uk-text-right">
                                {{ ro.ORDER_AMOUNT }}
                            </td>
                            <td class="uk-text-center">
                                    <input #customizedOrderCheck [id]="'check_' + ro.ORDERNUMBER" type="checkbox" (change)="check(ro, customizedOrderCheck.checked, customizedOrdersDataTable.id)" [(ngModel)]="ro.SELECTED" class="amountItem minimal" rel="0" [value]="ro.ORDER_AMOUNT" name="order_item_customized">
                                </td>
                            <td class="uk-text-right">
                                {{ ro.AMOUNT_TO_AUTHORIZE }}
                            </td>
                            <td>
                                <div class="md-input-wrapper">
                                    <label class="forceWhiteSpace">{{ 'paymentInstructions' | translate }}</label>
                                    <input type="text" [(ngModel)]="ro.PAYMENT_INSTRUCTIONS" maxlength="255" data-order_number="ro.ORDERNUMBER" data-order="ro.ISSUE_DATE" [id]="'pay_instructions_' +  + ro.ORDERNUMBER" class="md-input pay_instructions" value="">
                                    <span class="md-input-bar "></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td class="uk-text-right"> <strong>Total(USD)</strong></td>
                            <td class="uk-text-right"> <strong>{{ totalCustomized }}</strong></td>
                            <td class="uk-text-right TxtTotalitemsOrder"> 
                                <strong id="total_paid_amount_customized"> {{ totalToAuthorizeCustomized }} </strong>
                            </td>
                            <td align="uk-text-center">
                                <span *ngIf="showMinSelectError" class="error uk-text-danger">{{ 'oneOrMoreOrdersMustBeSelected' | translate }}</span>
                            </td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>