<div id="page_content">
    <div id="page_content_inner">

        <app-select-customer (onCustomerSelected)="customerSelected($event)" *ngIf="!customer && !data" [parent]="'order'">
        </app-select-customer>
        
        <div id="order-payment-panel-payment-general" *ngIf="customer || data">
            <h3 class="heading_b uk-margin-bottom">{{ 'orderPayment' | translate }}</h3>

            <app-customer-info [CUSTOMERID]="CUSTOMERID" [BILLTO_FIRSTNAME]="BILLTO_FIRSTNAME" [BILLTO_LASTNAME]="BILLTO_LASTNAME" [BILLTO_EMAIL]="BILLTO_EMAIL">
            </app-customer-info>

            <app-order-details [customerOrder]="customer" [data]="data" [BILLTO_EMAIL]="BILLTO_EMAIL" [showMinSelectError]="minSelectError" 
                (onChangeSelection)="setSelectedOrders($event)" 
                (onLoadCustomerOrderData)="setBillTo($event)" 
                [refreshCustomerEvent]="refreshCustomerSubject.asObservable()">
            </app-order-details>

            <div class="uk-grid min-margin-top" data-uk-grid-margin="">
                <app-payment-method class="uk-width-small-1-2 uk-row-first" (onSelectPaymentMethod)="setPaymentMethod($event)" [events]="eventsSubject.asObservable()"
                    [changeMethodPaymentEnabled]="this.selectedRegularOrders && this.selectedRegularOrders.length" [data]="data" [parent]="'order'">
                </app-payment-method>
                
                <app-payment-details class="uk-width-small-1-2 hide-content uk-row-first" *ngIf="paymentMethod" [customer]="customer" [data]="data"
                    [paymentMethod]="paymentMethod" [orders]="selectedRegularOrders" [events]="paymentMethodSubject.asObservable()"
                    (onPayment)="handlePayment($event)">
                </app-payment-details>
            </div>
        </div>
        
        <div id="payment-reject-modal" class="uk-modal" [hidden]="!openRejectModal">
            <div class="uk-modal-dialog uk-modal-dialog-large" style="top: 30px">
                <a href="" class="uk-modal-close uk-close"></a>
                <payment-reject-modal [orders]="ordersPayment"></payment-reject-modal>
            </div>
        </div>
        
        <div id="preauthorization-modal" class="uk-modal" [hidden]="!openAcceptModal">
            <div class="uk-modal-dialog uk-modal-dialog-large" style="top: 30px">
                <a href="" class="uk-modal-close uk-close"></a>
                <preauthorization-modal [orders]="ordersPayment" [card]="cardPayment"></preauthorization-modal>
            </div>
        </div>
    </div>
</div>