﻿<div class="login_page_wrapper">
    <div class="md-card" id="login_card">
        <div class="md-card-content large-padding" id="login_password_reset"  [hidden]="view!='RESET'">
            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top" [routerLink]="['/login']"></button>
            <h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
            <p>Enter your e-mail for receive instructions for create a new password.</p>
            <div>
                <div class="uk-form-row">
                    <label>E-mail</label>
                    <input class="md-input" type="text" id="email" name="email" />
                </div>
                <div class="uk-margin-medium-top error_password hide-content uk-text-danger" id="resp-forgot">
                </div>
                <div class="uk-margin-medium-top">
                    <button type="submit" class="md-btn md-btn-primary md-btn-block">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>