<div id="page_content">
    <div id="page_content_inner">

        <app-select-customer (onCustomerSelected)="customerSelected($event)" *ngIf="!customer" [parent]="'invoice'">
        </app-select-customer>
        
        <div id="invoice-payment-panel-payment-general" *ngIf="customer">
            <h3 class="heading_b uk-margin-bottom">{{ 'invoicePayment' | translate }}</h3>

            <app-customer-info [CUSTOMERID]="CUSTOMERID" [BILLTO_FIRSTNAME]="BILLTO_FIRSTNAME" [BILLTO_LASTNAME]="BILLTO_LASTNAME" [BILLTO_EMAIL]="BILLTO_EMAIL">
            </app-customer-info>

            <app-invoice-details [customerInvoice]="customer" (onChangeSelection)="setSelectedInvoices($event)" [showMinSelectError]="minSelectError">
            </app-invoice-details>

            <div class="uk-grid min-margin-top" data-uk-grid-margin="">
                <app-payment-method class="uk-width-small-1-2 uk-row-first" (onSelectPaymentMethod)="setPaymentMethod($event)" [events]="eventsSubject.asObservable()"
                    [changeMethodPaymentEnabled]="this.selectedInvoices && this.selectedInvoices.length" [parent]="'invoice'">
                </app-payment-method>
            </div>
        </div>
    </div>
</div>