<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">perm_data_setting</i> New</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Currency" maxlength="20" formControlName="CURRENCY">
                    <mat-error *ngIf="f('CURRENCY').invalid">{{getErrorMessage(f('CURRENCY'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Label Currency" maxlength="20" formControlName="LABEL">
                    <mat-error *ngIf="f('LABEL').invalid">{{getErrorMessage(f('LABEL'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">                                
                <mat-label>Status</mat-label>
                <div class="uk-margin-small2-top">
                    <mat-radio-group formControlName="ACTIVE">
                        <mat-radio-button value="1">Active</mat-radio-button>
                        <mat-radio-button value="0">Disabled</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>

        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Symbol Currency" maxlength="5" formControlName="SYMBOL">
                    <mat-error *ngIf="f('SYMBOL').invalid">{{getErrorMessage(f('SYMBOL'))}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
       
    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">Save</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">Back</button>
        </div>
    </div>
</form>