<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">playlist_add</i> {{title()}}</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small3-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="parsley-row">                
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Payment Method" maxlength="255" formControlName="PAYMENT_METHOD">
                    <mat-error *ngIf="f('PAYMENT_METHOD').invalid">{{getErrorMessage(f('PAYMENT_METHOD'))}}</mat-error>
                </mat-form-field>                
            </div>
        </div>
              
        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Payment Method Type" maxlength="10" formControlName="METHOD_TYPE">
                    <mat-error *ngIf="f('METHOD_TYPE').invalid">{{getErrorMessage(f('METHOD_TYPE'))}}</mat-error>
                </mat-form-field>                                
            </div>
        </div>

        <div class="uk-width-medium-1-3 uk-row-first">
            <div class="parsley-row">
                <mat-label>Provider Decrypt Payload</mat-label>
                <div class="uk-margin-small2-top">
                    <mat-radio-group formControlName="PROVIDER_DECRYPT_FLG">
                        <mat-radio-button value="Y">Yes</mat-radio-button>
                        <mat-radio-button value="N">No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="f('PROVIDER_DECRYPT_FLG').invalid">{{getErrorMessage(f('PROVIDER_DECRYPT_FLG'))}}</mat-error>                    
                </div>
            </div>
        </div>        
    </div>        
       
    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">Save</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">Back</button>
        </div>
    </div>
</form>