<div id="page_content">
    
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">perm_data_setting</i> Currencies
                </h3>
            </div>
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <div class="uk-overflow-container">
                    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" style="width:100%" 
                    class="row-border hover uk-table uk-table-hover uk-table-striped dataTable nowrap">                                            
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Label Currency</th>
                                <th>Symbol Currency</th>
                                <th>Actions</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let currency of currencies">
                                <td>{{ currency.CURRENCY }}</td>
                                <td>{{ currency.LABEL }}</td>
                                <td>{{ currency.SYMBOL }}</td>                                
                                <td>
                                    <a id="bt-edit" (click)="editCurrency(form, currency.NUM_CODE)" data-uk-modal><i class="md-icon material-icons">mode_edit</i></a>
                                    <a (click)="removeCurrency(currency.NUM_CODE)"><i class="md-icon material-icons">delete_forever</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                    
            </div>
        </div>
    </div>
</div>

<div id="currency-form" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="top: 30px">
      <a href="" class="uk-modal-close uk-close"></a>
      <currency-form #form (submit)="closeModal()"></currency-form>
    </div>
  </div>

<div class="md-fab-wrapper">     
    <a class="md-fab md-fab-accent" (click)="newCurrency(form)" data-uk-modal>
        <i class="material-icons">&#xE145;</i>
    </a>    
</div>