<div id="payment_detais_content" class="md-card" style="display: block;">
  <div class="md-card-toolbar">
    <h3 class="md-card-toolbar-heading-text">
        <i class="material-icons">view_headline</i> {{ 'paymentDetails' | translate }}
    </h3>
  </div>
  <form class="form_validation md-card-content" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
    <div id="div_total_pay" *ngIf="(paymentMethod.PMT_METHOD_TYPE == 'CC') || (paymentMethod.PMT_METHOD_TYPE == 'EC') || (paymentMethod.PMT_METHOD_TYPE == 'MANUAL')">
      <table class="uk-table">
        <tbody>
          <tr>
            <td class="uk-text-right" width="45%">
               <div class="txt-details-pay text-right"> <strong>{{ 'totalAmount' | translate }}: </strong></div>
            </td>
            <td>
              <div class="txt-details-pay pay-amount"> <span id="amount">$ {{ amount }}</span> </div>
            </td>
          </tr>
          <tr style="display: table-row;" *ngIf="((paymentMethod.PMT_METHOD_TYPE == 'CC') || (paymentMethod.PMT_METHOD_TYPE == 'EC')) && (serviceFee)">
            <td class="uk-text-right" width="45%">
              <div class="txt-details-pay text-right" id="Divservicefee"><strong>{{ 'convenienceFee' | translate }}:</strong></div>
            </td>
            <td>
              <div class="txt-details-pay servicefee" style="display: block;"> <span id="servicefee">$ {{ serviceFee }}</span> </div>
            </td>
          </tr>
          <tr style="display: table-row;" *ngIf="((paymentMethod.PMT_METHOD_TYPE == 'CC') || (paymentMethod.PMT_METHOD_TYPE == 'EC')) && (serviceFeePercentage)">
            <td class="uk-text-right" width="45%">
              <div class="txt-details-pay text-right" id="Divservicefeepercentage"><strong>{{ 'convenienceFee' | translate }} {{ serviceFeePercentage }}%:</strong></div>
            </td>
            <td>
              <div class="txt-details-pay servicefee" style="display: block;"> <span id="servicefeepercentage">$ {{ amountFeePercentage }}</span> </div>
            </td>
          </tr>
          <tr style="display: none;">
            <td class="uk-text-right" width="45%">
              <div class="txt-details-pay text-right" id="Divservicefeepercentage"></div>
            </td>
            <td>
              <div class="txt-details-pay Totalepercentage" style="display: none;"> <span id="Totalepercentage"></span> </div>
            </td>
          </tr>
          <tr style="display: table-row;" *ngIf="(paymentMethod.PMT_METHOD_TYPE == 'CC') || (paymentMethod.PMT_METHOD_TYPE == 'EC')">
            <td class="uk-text-right" width="45%">
              <div class="txt-details-pay text-right" id="DivgrandTotalAmount"><strong>{{ 'grandTotal' | translate }}: (USD)</strong></div>
            </td>
            <td>
              <div class="txt-details-pay grandTotal" style="display: block;"> <span id="grandTotal">$ {{ grandTotal }}</span> </div>
            </td>
          </tr>
          <tr style="display: none;">
            <td class="uk-text-right" width="45%">
              <div class="txt-details-pay text-right inf_total_conversion"> <strong>{{ 'grandTotal' | translate }}:</strong> (<span id="conversion_confirm_for"></span>)</div>
            </td>
            <td>
              <div class="txt-details-pay inf_total_conversion"> <span id="vlr_total_conversion">0</span> </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="billingInfo" class="uk-margin-medium-top hide-content" *ngIf="(paymentMethod.PMT_METHOD_TYPE == 'CC')">
      <h4><i class="material-icons">payment</i> {{ 'creditCardBillingInformation' | translate }}</h4>
      <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="">
        <div class="uk-width-medium-1-2 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_FIRSTNAME' | translate}}" maxlength="60" [formControl]="form.controls.card.controls['BILLTO_FIRSTNAME']">
              <mat-error *ngIf="f('card','BILLTO_FIRSTNAME').invalid && f('card','BILLTO_FIRSTNAME').touched">{{getErrorMessage(f('card','BILLTO_FIRSTNAME')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="uk-width-medium-1-2">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_LASTNAME' | translate}}" maxlength="60" [formControl]="form.controls.card.controls['BILLTO_LASTNAME']">
              <mat-error *ngIf="f('card','BILLTO_LASTNAME').invalid && f('card','BILLTO_LASTNAME').touched">{{getErrorMessage(f('card','BILLTO_LASTNAME')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-2 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_PHONENUMBER' | translate}}" maxlength="11" [formControl]="form.controls.card.controls['BILLTO_PHONENUMBER']">
              <mat-error *ngIf="f('card','BILLTO_PHONENUMBER').invalid && f('card','BILLTO_PHONENUMBER').touched">{{getErrorMessage(f('card','BILLTO_PHONENUMBER')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="uk-width-medium-1-2">
            <div class="parsley-row">             
              <mat-form-field class="full-width">
                <input type="email" required matInput placeholder="{{'BILLTO_EMAIL' | translate}}" maxlength="255" [formControl]="form.controls.card.controls['BILLTO_EMAIL']" email>
                <mat-error *ngIf="f('card','BILLTO_EMAIL').invalid && f('card','BILLTO_EMAIL').touched">{{getErrorMessage(f('card','BILLTO_EMAIL')) | translate}}</mat-error>
              </mat-form-field>
            </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
            <div class="parsley-row">
              <mat-form-field class="full-width">
                <input required matInput placeholder="{{'BILLTO_STREET1' | translate}}" maxlength="60" [formControl]="form.controls.card.controls['BILLTO_STREET1']">
                <mat-error *ngIf="f('card','BILLTO_STREET1').invalid && f('card','BILLTO_STREET1').touched">{{getErrorMessage(f('card','BILLTO_STREET1')) | translate}}</mat-error>
              </mat-form-field>
            </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_STREET_NUMBER' | translate}}" maxlength="60" [formControl]="form.controls.card.controls['BILLTO_STREET_NUMBER']">
              <mat-error *ngIf="f('card','BILLTO_STREET_NUMBER').invalid && f('card','BILLTO_STREET_NUMBER').touched">{{getErrorMessage(f('card','BILLTO_STREET_NUMBER')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <mat-form-field class="full-width">
            <input required matInput placeholder="{{'BILLTO_STREET2' | translate}}" maxlength="60" [formControl]="form.controls.card.controls['BILLTO_STREET2']">
            <mat-error *ngIf="f('card','BILLTO_STREET2').invalid && f('card','BILLTO_STREET2').touched">{{getErrorMessage(f('card','BILLTO_STREET2')) | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <mat-select placeholder="{{'BILLTO_COUNTRY' | translate}}" [formControl]="form.controls.card.controls['BILLTO_COUNTRY']" required>
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f('card','BILLTO_COUNTRY').invalid">{{getErrorMessage(f('card','BILLTO_COUNTRY')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid content-billtostate" data-uk-grid-margin="" *ngIf="states.length">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
                <mat-select placeholder="{{'BILLTO_STATE' | translate}}" [formControl]="form.controls.card.controls['BILLTO_STATE']" required>
                  <mat-option *ngFor="let state of states" [value]="state">
                    {{ state }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="f('card','BILLTO_STATE').invalid && f('card','BILLTO_STATE').touched">{{getErrorMessage(f('card','BILLTO_STATE')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_CITY' | translate}}" maxlength="50" [formControl]="form.controls.card.controls['BILLTO_CITY']">
              <mat-error *ngIf="f('card','BILLTO_CITY').invalid && f('card','BILLTO_CITY').touched">{{getErrorMessage(f('card','BILLTO_CITY')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_POSTALCODE' | translate}}" maxlength="10" [formControl]="form.controls.card.controls['BILLTO_POSTALCODE']">
              <mat-error *ngIf="f('card','BILLTO_POSTALCODE').invalid && f('card','BILLTO_POSTALCODE').touched">{{getErrorMessage(f('card','BILLTO_POSTALCODE')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="payMethods" id="content-pay-CC" *ngIf="paymentMethod.PMT_METHOD_TYPE == 'CC'">
        <h4 class="uk-margin-medium-top"><i class="material-icons">payment</i> {{ 'cardInformation' | translate }}</h4>
        <div class="uk-grid" data-uk-grid-margin="">
          <div class="uk-width-medium-1-1 uk-row-first">
            <div class="parsley-row">
              <mat-form-field class="full-width">
                <input required matInput placeholder="{{'ACCOUNT_NUMBER' | translate}}" [formControl]="form.controls.card.controls['ACCOUNT_NUMBER']">
                <mat-error *ngIf="f('card','ACCOUNT_NUMBER').invalid && f('card','ACCOUNT_NUMBER').touched">{{getErrorMessage(f('card','ACCOUNT_NUMBER')) | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin="">
          <div class="uk-width-medium-1-1 uk-row-first">
            <div class="parsley-row">
              <mat-form-field class="full-width">
                <input required matInput placeholder="{{'CARD_NAME' | translate}}" [formControl]="form.controls.card.controls['CARD_NAME']">
                <mat-error *ngIf="f('card','CARD_NAME').invalid && f('card','CARD_NAME').touched">{{getErrorMessage(f('card','CARD_NAME')) | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin="">
          <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
              <mat-form-field class="full-width">
                <mat-select placeholder="{{'EXPIRATION_MONTH' | translate}}" [formControl]="form.controls.card.controls['EXPIRATION_MONTH']" required>
                  <mat-option *ngFor="let month of months" [value]="month.num">
                    {{ month.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="f('card','EXPIRATION_MONTH').invalid && f('card','EXPIRATION_MONTH').touched">{{getErrorMessage(f('card','EXPIRATION_MONTH')) | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="uk-width-medium-1-2">
            <div class="parsley-row">
              <mat-form-field class="full-width">
                <mat-select placeholder="{{'EXPIRATION_YEAR' | translate}}" [formControl]="form.controls.card.controls['EXPIRATION_YEAR']" required>
                  <mat-option *ngFor="let exp of expirationYears" [value]="exp">
                    {{ exp }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="f('card','EXPIRATION_YEAR').invalid && f('card','EXPIRATION_YEAR').touched">{{getErrorMessage(f('card','EXPIRATION_YEAR')) | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin="">
          <div class="uk-width-medium-1-1 uk-row-first">
            <div class="parsley-row">
              <mat-form-field class="full-width">
                <input required matInput placeholder="{{'CARD_CVC' | translate}}" [formControl]="form.controls.card.controls['CARD_CVC']">
                <mat-error *ngIf="f('card','CARD_CVC').invalid && f('card','CARD_CVC').touched">{{getErrorMessage(f('card','CARD_CVC')) | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin="">
          <div class="uk-width-medium-1-1 uk-row-first" style="margin-bottom:10px;text-align: justify;">
            <span>
              {{ 'agreementNotice' | translate }}
            </span> 
          </div>
          <div class="uk-width-medium-1-2 uk-grid-margin uk-row-first" style="margin-bottom:10px;">
            <input type="checkbox" class="accept-terms" [(ngModel)]="acceptCard" [ngModelOptions]="{standalone: true}"> {{ 'acceptTerms' | translate }}
          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script><script src="https://mgmttst.level4pay.com:443/assets2/js/termsAcceptance.js"></script>
        <div class="uk-grid" data-uk-grid-margin="">
          <div class="uk-width-medium-1-1 uk-row-first">
            <button id="btn_submit_payments" type="submit" [ngClass]="{'button-disabled' : !acceptCard}" [disabled]="!acceptCard" class="btn-submit-payments-terms button-disabled md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-block  waves-effect waves-button waves-light"><i id="icon_payments" class="uk-icon-paper-plane" aria-hidden="true"></i> {{ 'pay' | translate }}</button>
          </div>
        </div>
       </div>
    </div>
    <div id="billingInfo" class="uk-margin-medium-top hide-content" *ngIf="(paymentMethod.PMT_METHOD_TYPE == 'EC')">
      <h4><i class="material-icons">payment</i> {{ 'creditCardBillingInformation' | translate }}</h4>
      <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="">
        <div class="uk-width-medium-1-2 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_FIRSTNAME' | translate}}" maxlength="60" [formControl]="form.controls.check.controls['BILLTO_FIRSTNAME']">
              <mat-error *ngIf="f('check','BILLTO_FIRSTNAME').invalid && f('check','BILLTO_FIRSTNAME').touched">{{getErrorMessage(f('check','BILLTO_FIRSTNAME')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="uk-width-medium-1-2">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_LASTNAME' | translate}}" maxlength="60" [formControl]="form.controls.check.controls['BILLTO_LASTNAME']">
              <mat-error *ngIf="f('check','BILLTO_LASTNAME').invalid && f('check','BILLTO_LASTNAME').touched">{{getErrorMessage(f('check','BILLTO_LASTNAME')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-2 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_PHONENUMBER' | translate}}" maxlength="10" [formControl]="form.controls.check.controls['BILLTO_PHONENUMBER']">
              <mat-error *ngIf="f('check','BILLTO_PHONENUMBER').invalid && f('check','BILLTO_PHONENUMBER').touched">{{getErrorMessage(f('check','BILLTO_PHONENUMBER')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="uk-width-medium-1-2">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input type="email" required matInput placeholder="{{'BILLTO_EMAIL' | translate}}" maxlength="255" [formControl]="form.controls.check.controls['BILLTO_EMAIL']" email>
              <mat-error *ngIf="f('check','BILLTO_EMAIL').invalid && f('check','BILLTO_EMAIL').touched">{{getErrorMessage(f('check','BILLTO_EMAIL')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_STREET1' | translate}}" maxlength="60" [formControl]="form.controls.check.controls['BILLTO_STREET1']">
              <mat-error *ngIf="f('check','BILLTO_STREET1').invalid && f('check','BILLTO_STREET1').touched">{{getErrorMessage(f('check','BILLTO_STREET1')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_STREET_NUMBER' | translate}}" maxlength="60" [formControl]="form.controls.check.controls['BILLTO_STREET_NUMBER']">
              <mat-error *ngIf="f('check','BILLTO_STREET_NUMBER').invalid && f('check','BILLTO_STREET_NUMBER').touched">{{getErrorMessage(f('check','BILLTO_STREET_NUMBER')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <mat-form-field class="full-width">
            <input required matInput placeholder="{{'BILLTO_STREET2' | translate}}" maxlength="60" [formControl]="form.controls.check.controls['BILLTO_STREET2']">
            <mat-error *ngIf="f('check','BILLTO_STREET2').invalid && f('check','BILLTO_STREET2').touched">{{getErrorMessage(f('check','BILLTO_STREET2')) | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <mat-select placeholder="{{'BILLTO_COUNTRY' | translate}}" [formControl]="form.controls.check.controls['BILLTO_COUNTRY']" required>
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{ country }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f('check','BILLTO_COUNTRY').invalid">{{getErrorMessage(f('check','BILLTO_COUNTRY')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid content-billtostate" data-uk-grid-margin="" *ngIf="states.length">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <mat-select placeholder="{{'BILLTO_STATE' | translate}}" [formControl]="form.controls.check.controls['BILLTO_STATE']" required>
                <mat-option *ngFor="let state of states" [value]="state">
                  {{ state }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f('check','BILLTO_STATE').invalid && f('check','BILLTO_STATE').touched">{{getErrorMessage(f('check','BILLTO_STATE')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_CITY' | translate}}" maxlength="50" [formControl]="form.controls.check.controls['BILLTO_CITY']">
              <mat-error *ngIf="f('check','BILLTO_CITY').invalid && f('check','BILLTO_CITY').touched">{{getErrorMessage(f('check','BILLTO_CITY')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BILLTO_POSTALCODE' | translate}}" maxlength="10" [formControl]="form.controls.check.controls['BILLTO_POSTALCODE']">
              <mat-error *ngIf="f('check','BILLTO_POSTALCODE').invalid && f('check','BILLTO_POSTALCODE').touched">{{getErrorMessage(f('check','BILLTO_POSTALCODE')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="payMethods" id="content-pay-L41EWO" *ngIf="paymentMethod.PMT_METHOD_TYPE == 'EC'">
      <h4 class="uk-margin-medium-top"><i class="uk-icon-list-alt"></i> {{ 'electronicCheckInformation' | translate }}</h4>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'BANK_TRANSIT_NUMBER' | translate}}" [formControl]="form.controls.check.controls['BANK_TRANSIT_NUMBER']">
              <mat-error *ngIf="f('check','BANK_TRANSIT_NUMBER').invalid && f('check','BANK_TRANSIT_NUMBER').touched">{{getErrorMessage(f('check','BANK_TRANSIT_NUMBER')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'CHECK_ACCOUNT_NUMBER' | translate}}" [formControl]="form.controls.check.controls['CHECK_ACCOUNT_NUMBER']">
              <mat-error *ngIf="f('check','CHECK_ACCOUNT_NUMBER').invalid && f('check','CHECK_ACCOUNT_NUMBER').touched">{{getErrorMessage(f('check','CHECK_ACCOUNT_NUMBER')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <mat-select placeholder="{{'ACCOUNT_TYPE' | translate}}" [formControl]="form.controls.check.controls['ACCOUNT_TYPE']" required>
                <mat-option [value]="'C'">
                  {{ 'checking' | translate }}
                </mat-option>
                <mat-option [value]="'S'">
                  {{ 'savings' | translate }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f('check','ACCOUNT_TYPE').invalid && f('check','ACCOUNT_TYPE').touched">{{getErrorMessage(f('check','ACCOUNT_TYPE')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first" style="margin-bottom:10px;text-align: justify;">
          <span>
          {{ 'agreementNotice' | translate }}
          </span> 
        </div>
        <div class="uk-width-medium-1-2 uk-row-first" style="margin-bottom:10px;">
          <input type="checkbox" class="accept-terms" [(ngModel)]="acceptCheck" [ngModelOptions]="{standalone : true}"> {{ 'acceptTerms' | translate }}
        </div>
      </div>
      <script src="https://mgmttst.level4pay.com:443/assets2/js/termsAcceptance.js"></script>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <button id="btn_submit_payments" [ngClass]="{'button-disabled' : !acceptCheck}" [disabled]="!acceptCheck" type="submit" class="btn-submit-payments-terms button-disabled md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-block waves-effect waves-button waves-light"><i id="icon_payments" class="uk-icon-paper-plane" aria-hidden="true"></i> Pay</button>
        </div>
      </div>
    </div>
    <div class="payMethods" id="content-pay-L41RKW" *ngIf="paymentMethod.PMT_METHOD_TYPE == 'MAIL'">
      <h4 class="uk-margin-top"><i class="material-icons">email</i> {{ 'order' | translate }} E-mail</h4>
      <div class="uk-grid uk-margin-medium-top" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <input required matInput placeholder="{{'EMAIL' | translate}}" [formControl]="form.controls.mail.controls['EMAIL']">
              <mat-error *ngIf="f('mail','EMAIL').invalid && f('mail','EMAIL').touched">{{getErrorMessage(f('mail','EMAIL')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <button id="btn_submit_payments_email" type="submit" class="btn-submit-payments-terms md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-block waves-effect waves-button waves-light"><i id="icon_payments" class="uk-icon-paper-plane" aria-hidden="true"></i> {{ 'pay' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="payMethods" id="content-pay-L41YLT" *ngIf="paymentMethod.PMT_METHOD_TYPE == 'MANUAL'">
      <h4><i class="uk-icon-hand-pointer-o"></i> {{ 'manualPaymentInformation' | translate }}</h4>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <div class="parsley-row">
            <mat-form-field class="full-width">
              <mat-select placeholder="{{'MANUAL_TYPE' | translate}}" [formControl]="form.controls.manual.controls['MANUAL_TYPE']" required>
                <mat-option [value]="'Credit Card'">
                  {{ 'PMT_METHOD_TYPE_CC' | translate }}
                </mat-option>
                <mat-option [value]="'e-Check'">
                  {{ 'PMT_METHOD_TYPE_EC' | translate }}
                </mat-option>
                <mat-option [value]="'Transfer'">
                  {{ 'transfer' | translate }}
                </mat-option>
                <mat-option [value]="'Wire Transfer'">
                  {{ 'wireTransfer' | translate }}
                </mat-option>
                <mat-option [value]="'PayPal'">
                  PayPal
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f('manual','MANUAL_TYPE').invalid && f('manual','MANUAL_TYPE').touched">{{getErrorMessage(f('mail','MANUAL_TYPE')) | translate}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first" style="margin-bottom:10px;text-align: justify;">
          <span>
            {{ 'agreementNotice' | translate }}
          </span> 
        </div>
        <div class="uk-width-medium-1-2 uk-row-first" style="margin-bottom:10px;">
            <input type="checkbox" class="accept-terms" [(ngModel)]="acceptManual" [ngModelOptions]="{standalone: true}" onclick="changeSubmitButton(this)"> {{ 'acceptTerms' | translate }}
        </div>
      </div>
      <script src="https://mgmttst.level4pay.com:443/assets2/js/termsAcceptance.js"></script>
      <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
          <button id="btn_submit_payments" type="submit" [ngClass]="{'button-disabled' : !acceptManual}" [disabled]="!acceptManual" class="btn-submit-payments-terms button-disabled md-btn md-btn-primary md-btn-small md-btn-wave-light md-btn-block waves-effect waves-button waves-light" ><i id="icon_payments" class="uk-icon-paper-plane" aria-hidden="true"></i> {{ 'pay' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</div>