<div class="uk-overflow-container">
  <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" style="width:100%" 
  class="row-border nowrap datatable">                                            
      <thead>
          <tr>
              <th *ngFor="let label of labels">
                {{label | translate}}
              </th>
              <th>
                {{'actions' | translate}}
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of rows">
              <td *ngFor="let column of columns">
                {{ row[column] }}
              </td>
              <td>
                  <a id="bt-edit" (click)="edit.emit(row)" data-uk-modal><i class="md-icon material-icons">mode_edit</i></a>
                  <a (click)="remove.emit(row)"><i class="md-icon material-icons">delete_forever</i></a>
              </td>
          </tr>
      </tbody>
  </table>
</div>