table.dataTable thead th, table.dataTable thead td {
    border-bottom: 2px solid rgba(0,0,0,.12);
}

table.dataTable thead th, table.dataTable thead td {
    font-size: 14px;
    text-align: left;
}

table {
    margin-bottom: 15px;
}