<div class="uk-modal-header">
    <h3 class="uk-modal-title"><i class="material-icons">playlist_add</i> {{title()}}</h3>
</div>
<form class="form_validation" [formGroup]="form" novalidate>
    <div class="uk-grid uk-margin-small2-top" data-uk-grid-margin>
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">                
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Transaction Origin" maxlength="100" formControlName="TXN_ORIGIN">
                    <mat-error *ngIf="f('TXN_ORIGIN').invalid">{{getErrorMessage(f('TXN_ORIGIN'))}}</mat-error>
                </mat-form-field>                
            </div>
        </div>
              
        <div class="uk-width-medium-1-2 uk-row-first">
            <div class="parsley-row">
                <mat-form-field class="full-width">
                    <input required matInput placeholder="Transaction Origin Description" maxlength="100" formControlName="DESCRIPTION">
                    <mat-error *ngIf="f('DESCRIPTION').invalid">{{getErrorMessage(f('DESCRIPTION'))}}</mat-error>
                </mat-form-field>                                
            </div>
        </div>
    </div>        
       
    <div class="uk-modal-footer uk-text-right">
        <div class="uk-width-medium-1-1 uk-row-first">
            <button type="button" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light" (click)="doSave()">Save</button>
            <button type="button" class="md-btn md-btn-secondary md-btn-wave-light waves-effect waves-button waves-light" (click)="submit.emit()">Back</button>
        </div>
    </div>
</form>