<div id="page_content">
    
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">transform</i> Payment Methods
                </h3>
            </div>
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <div class="uk-overflow-container">
                    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" style="width:100%" 
                    class="row-border hover uk-table uk-table-hover uk-table-striped dataTable nowrap">                                            
                        <thead>
                            <tr>
                                <th>Payment Method</th>
                                <th>Payment Method Type</th>                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paymentMethod of paymentMethods">
                                <td>{{ paymentMethod.PAYMENT_METHOD }}</td>
                                <td>{{ paymentMethod.METHOD_TYPE }}</td>                                
                                <td>
                                    <a id="bt-edit" (click)="edit(form, paymentMethod.ID)" data-uk-modal><i class="md-icon material-icons">mode_edit</i></a>
                                    <a (click)="delete(paymentMethod.ID)"><i class="md-icon material-icons">delete_forever</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                    
            </div>
        </div>
    </div>
</div>

<div id="payment-method-form" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="top: 30px">
        <a href="" class="uk-modal-close uk-close"></a>
        <payment-method-form #form (submit)="closeModal()"></payment-method-form>
    </div>
</div>

<div class="md-fab-wrapper">     
    <a class="md-fab md-fab-accent" (click)="createNew(form)" data-uk-modal>
        <i class="material-icons">&#xE145;</i>
    </a>    
</div>