<h3 class="heading_b uk-margin-bottom">{{'selectCustomer' | translate }}</h3>
<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-small-1-2 uk-row-first">
        <div class="md-card content_preload">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                <i class="material-icons">supervisor_account</i> {{'selectCustomer' | translate }}</h3>
            </div>
            <div class="md-card-content equalHeight" style="height: 120px;">  
                <div class="parsley-row">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Select">
                            <mat-option *ngFor="let co of customerOrders" [value]="co.CUSTOMERID" (click)="clicked(co)">
                                {{ getOption(co) }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="uk-margin-medium-top">
                    <button type="submit" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">{{'SELECT' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-small-1-2">
        <div class="md-card content_preload">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">backup</i> {{'uploadOrderFile' | translate }}</h3>
            </div>
            <div class="md-card-content equalHeight" style="height: 120px;">                
                <div class="parsley-row uk-margin-medium-top">
                    <input type="file" name="upload" id="upload" required="">
                </div>		
                <div class="uk-margin-medium-top">
                    <button type="submit" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">{{'importFile' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
