<div id="page_content">
    
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-toolbar">
                <h3 class="md-card-toolbar-heading-text">
                    <i class="material-icons">spellcheck</i> Security Codes
                </h3>
            </div>
            <div class="md-card-content">
                <div class="dt_colVis_buttons"></div>
                <div class="uk-overflow-container">
                    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" style="width:100%" 
                    class="row-border hover uk-table uk-table-hover uk-table-striped dataTable nowrap">                                            
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Code</th>
                                <th>Provider</th>
                                <th>Description</th>                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let securityCode of securityCodes">
                                <td>{{ securityCode.CODE_TYPE }}</td>
                                <td>{{ securityCode.CODE }}</td>
                                <td>{{ securityCode.PROVIDER }}</td>                                
                                <td>{{ securityCode.DESCRIPTION }}</td>                                
                                <td>
                                    <a id="bt-edit" (click)="editSecurityCode(form, securityCode.ID)" data-uk-modal><i class="md-icon material-icons">mode_edit</i></a>
                                    <a (click)="removeSecurityCode(securityCode.ID)"><i class="md-icon material-icons">delete_forever</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                    
            </div>
        </div>
    </div>
</div>

<div id="security-code-form" class="uk-modal">
    <div class="uk-modal-dialog uk-modal-dialog-large" style="top: 30px">
      <a href="" class="uk-modal-close uk-close"></a>
      <security-codes-form #form (submit)="closeModal()"></security-codes-form>
    </div>
  </div>

<div class="md-fab-wrapper">     
    <a class="md-fab md-fab-accent" (click)="newSecurityCode(form)" data-uk-modal>
        <i class="material-icons">&#xE145;</i>
    </a>    
</div>