<div class="md-card content_preload">
    <div class="md-card-toolbar">
        <h3 class="md-card-toolbar-heading-text">
            <i class="material-icons">person</i> {{ 'customerInformation' | translate }}
        </h3>
    </div>

    <div class="md-card-content equalHeight">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-small-1-3 uk-row-first">
                <label class="uk-text-bold">{{ 'customerID' | translate }}</label>
                <p> {{ CUSTOMERID }} </p>
            </div>
            <div class="uk-width-small-1-3" *ngIf="BILLTO_FIRSTNAME || BILLTO_LASTNAME">
                <label class="uk-text-bold">{{ 'name' | translate }}</label>
                <p>
                    <span>
                        <span id="lbl_firstName" name="lbl_firstName">{{ BILLTO_FIRSTNAME }}</span>
                        <span id="lbl_lastName" name="lbl_lastName"> {{ BILLTO_LASTNAME }}</span>
                    </span>
                </p>
            </div>
            <div class="uk-width-small-1-3">
                <label class="uk-text-bold">E-mail</label>
                <p><span id="lbl_email" name="lbl_email">{{ BILLTO_EMAIL }}</span></p>
            </div>
        </div>
    </div>
</div>