/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

.full-width{    
    width: 100% !important;      
}

.ps__rail-y {
    width: 6px !important; 
}

.ps__thumb-y {
    width: 6px !important;
}