@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, 700);
$accent:  mat-palette($mat-teal, 500);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);