/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.button-disabled {
    cursor: not-allowed;
}

[data-uk-tooltip]:hover {
  cursor: help;
}

.main_logo_top{
    text-align: center;
}
.main_logo_top img{
    margin-left: -30px;
}

#sidebar_main .menu_section>ul>li>a {
    padding: 8px 15px;
}
.no_btn{
    border: 0px!important;
    background: none!important;
    cursor: pointer;
}

.itemMultipleSelect{
    cursor: default !important;
}

#changeDateRange{
    font-size: 12px;
    color: #757575;
}

.uk-modal-dialog.bg_gray{
    background-color: #ececec !important;
}

.hide-content{display: none}

.hide-content-force{display: none !important}

.uk-margin-small2-top{
    margin-top: 16px!important;
}

.main_logo_top>a img {
    max-width: 40px;
    height: auto;
}

.uk-table tfoot td, .uk-table tfoot th, .uk-table thead th {
    font-style: normal;
    font-weight: bold;
    color: #212121;
    font-size: 14px;
}

.uk-table-hover tbody tr:hover {
    background: rgba(0, 0, 0, 0.05);
}

.uk-table-hover-pointer tbody tr:hover {
    cursor: pointer;
}

.selectize-dropdown {
    margin-top: -44px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    color: #212121;
    z-index: 91210;
    -webkit-transform: translate3d(0,0,0);
}
#btn-trans-details .md-btn:active i, #btn-trans-details .md-btn:focus i, #btn-trans-details .md-btn:hover i, #btn-trans-details .uk-button-dropdown.uk-open>.md-btn i{
    color: #212121!important;
}
.login_page {
    background-image:url(../img/consulting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
div#login_card {
    background: rgba(255, 255, 255, 0.8);
}
body.login_page .uk-alert-success i {
    color: #fff;
}

body.login_page .uk-alert-danger i {
    color: #fff;
}

.register_page_wrapper{
    width: 80% !important;
}

a.user_action_image i {
    color: #fff;
}

.uk-alert-danger i, .uk-alert-success i{
    color: #fff!important;
}
.uk-table td, .uk-table th {
     vertical-align: middle;
}
.uk-vertical-align-top{
    vertical-align: top!important;
}
.uk-notify {
    z-index: 991114!important;
}   
.uk-notify i{
    color: #ffffff!important;
}

.selectize-control.single .selectize-input input {
    font-size: 14px;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #727272;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    -webkit-font-smoothing: inherit;
}

.md-list-addon-element.uk-margin-remove .icheckbox_md {
    margin-top: 0px!important;
}

.selectize-control .title, .selectize-control .item{
    color: initial!important;
    font: 400 15px/18px Roboto,sans-serif!important;
}

.selectize-control .selectize-input {
    padding: 8px 4px 9px!important;
}

.dt_order #details-items, #dt_invoice #details-items{
    width: 100%;
}

.dt_order .details-control, #dt_invoice .details-control{
    cursor: pointer;
}

.content-preloader{
    z-index: 9999999!important;
    left: 57%!important;
    position: fixed!important;
    top: 35%!important;
}

.uk-close:after {
    content: '\e5c9'!important;
    font-size: 24px;
}
.uk-modal-dialog>.uk-close:first-child {
    right: 10px !important;
}

.uk-button-dropdown+.md-btn {
    margin-left: 8px;
}

.login_page .user_avatar.level4pay{
    background-color: transparent !important;
    width: 100px !important;
    height: 100px !important;
    background-size: initial;
    background-repeat: no-repeat;
}

.icheck-inline:last-child {
    margin-right: 0px!important;
}
@-moz-document url-prefix() {
    .md-preloader {
        display: block !important;
    }
}

button#btn_submit_payments.disabled {
    color: #d32f2f;
    background-color: #eaeaea !important;
}
button#btn_submit_payments.disabled i{
    color: #d32f2f;
}

.uk-text-normal{
    font-weight: normal!important;
}

.uk-modal-dialog-load {
    width: 60px;
    height: 60px;
    padding: 15px;
}
#modalLoad{
    z-index: 1305!important;
}

.forceWhiteSpace{
    white-space: normal!important;
}
.bt_pay {
    width: auto;
    outline: none;
    max-height: 40px;
    cursor: pointer;
}
.content-bt-pay {
    float: left;
    margin: 3px;
}

.selectize-dropdown-header-label{
    cursor: pointer;
}

.uk-padding-10{
    padding: 10px;
}

.uk-padding-left-40{
    padding-left: 40px;
}

.center-margin{
    margin: 0 auto;
}

.content-login-again{
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

#modal_idle.uk-modal-card-fullscreen>.uk-modal-dialog>.md-card>.md-card-content {
    top: 0px;
}

.zIndexModalBlockUser{
    z-index: 999999999999999999999999 !important;
}


.AUTHORIZATION {
  background: rgba(0,0,0,.085);
}
.invalid-feedback{
    font-size: xx-small;
    color: red;
    height: 0px;
}

.menu_section{
    font-size: 200px;
} */