﻿<div class="login_page_wrapper">
    <div class="md-card" id="login_card">
        <div class="md-card-content large-padding uk-position-relative" id="login_help" [hidden]="view!='HELP'">
            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top" [routerLink]="['/login']"></button>
            <h2 class="heading_b uk-text-success">Can't log in?</h2>
            <p>Here’s the info to get you back in to your account as quickly as possible.</p>
            <p>First, try the easiest thing: if you remember your password but it isn’t working, make sure that Caps Lock is turned off, and that your username is spelled correctly, and then try again.</p>
            <p>If your password still isn’t working, it’s time to <a [routerLink]="['/reset']" id="password_reset_show">reset your password</a>.</p>
        </div>
    </div>
</div>