﻿<div [ngClass]="view=='REGISTER' ? 'login_page_wrapper register_page_wrapper':'login_page_wrapper' ">
    <div class="md-card" id="login_card">
        <div class="md-card-content large-padding" id="register_form" [hidden]="view!='REGISTER'">
            <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top" [routerLink]="['/login']"></button>
            <h2 class="heading_a uk-margin-medium-bottom">Create an account</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="uk-grid">
                    <div class="uk-form-row uk-width-1-1">
                        <label for="company">Company</label>
                        <input type="text" formControlName="company" class="md-input uk-form-dangerl" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
                        <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                            <div *ngIf="f.company.errors.required">Company is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="email">E-mail</label>
                        <input type="text" (change)="onChangeEmail(this)" formControlName="email" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">E-mail is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="workPhone">Work Phone</label>
                        <input type="text" formControlName="workPhone" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.workPhone.errors }" />
                        <div *ngIf="submitted && f.workPhone.errors" class="invalid-feedback">
                            <div *ngIf="f.workPhone.errors.required">Work Phone is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="mobilePhone">Mobile Phone</label>
                        <input type="text" formControlName="mobilePhone" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.mobilePhone.errors }" />
                        <div *ngIf="submitted && f.mobilePhone.errors" class="invalid-feedback">
                            <div *ngIf="f.mobilePhone.errors.required">Mobile Phone is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="phone">Phone</label>
                        <input type="text" formControlName="phone" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Phone is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="address">Address</label>
                        <input type="text" formControlName="address" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="address2">Address 2</label>
                        <input type="text" formControlName="address2" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.address2.errors }" />
                        <div *ngIf="submitted && f.address2.errors" class="invalid-feedback">
                            <div *ngIf="f.address2.errors.required">Address 2 is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="city">City</label>
                        <input type="text" formControlName="city" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="state">State</label>
                        <input type="text" formControlName="state" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                            <div *ngIf="f.state.errors.required">State is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="country">Country</label>
                        <select name="country" id="country" class="md-input" formControlName="country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" required="true">
                            <option value="">Country</option>
                            <option  value="AF">Afghanistan</option>
                            <option  value="AX">Aland Islands</option>
                            <option  value="AL">Albania</option>
                            <option  value="DZ">Algeria</option>
                            <option  value="AS">American Samoa</option>
                            <option  value="AD">Andorra</option>
                            <option  value="AO">Angola</option>
                            <option  value="AI">Anguilla</option>
                            <option  value="AQ">Antarctica</option>
                            <option  value="AG">Antigua And Barbuda</option>
                            <option  value="AR">Argentina</option>
                            <option  value="AM">Armenia</option>
                            <option  value="AW">Aruba</option>
                            <option  value="AU">Australia</option>
                            <option  value="AT">Austria</option>
                            <option  value="AZ">Azerbaijan</option>
                            <option  value="BS">Bahamas</option>
                            <option  value="BH">Bahrain</option>
                            <option  value="BD">Bangladesh</option>
                            <option  value="BB">Barbados</option>
                            <option  value="BY">Belarus</option>
                            <option  value="BE">Belgium</option>
                            <option  value="BZ">Belize</option>
                            <option  value="BJ">Benin</option>
                            <option  value="BM">Bermuda</option>
                            <option  value="BT">Bhutan</option>
                            <option  value="BO">Bolivia</option>
                            <option  value="BA">Bosnia And Herzegovina</option>
                            <option  value="BW">Botswana</option>
                            <option  value="BV">Bouvet Island</option>
                            <option  value="BR">Brazil</option>
                            <option  value="IO">British Indian Ocean Territory</option>
                            <option  value="BN">Brunei Darussalam</option>
                            <option  value="BG">Bulgaria</option>
                            <option  value="BF">Burkina Faso</option>
                            <option  value="BI">Burundi</option>
                            <option  value="KH">Cambodia</option>
                            <option  value="CM">Cameroon</option>
                            <option  value="CA">Canada</option>
                            <option  value="CV">Cape Verde</option>
                            <option  value="KY">Cayman Islands</option>
                            <option  value="CF">Central African Republic</option>
                            <option  value="TD">Chad</option>
                            <option  value="CL">Chile</option>
                            <option  value="CN">China</option>
                            <option  value="CX">Christmas Island</option>
                            <option  value="CC">Cocos (Keeling) Islands</option>
                            <option  value="CO">Colombia</option>
                            <option  value="KM">Comoros</option>
                            <option  value="CG">Congo</option>
                            <option  value="CD">Congo, Democratic Republic</option>
                            <option  value="CK">Cook Islands</option>
                            <option  value="CR">Costa Rica</option>
                            <option  value="CI">Cote D'Ivoire</option>
                            <option  value="HR">Croatia</option>
                            <option  value="CU">Cuba</option>
                            <option  value="CY">Cyprus</option>
                            <option  value="CZ">Czech Republic</option>
                            <option  value="DK">Denmark</option>
                            <option  value="DJ">Djibouti</option>
                            <option  value="DM">Dominica</option>
                            <option  value="DO">Dominican Republic</option>
                            <option  value="EC">Ecuador</option>
                            <option  value="EG">Egypt</option>
                            <option  value="SV">El Salvador</option>
                            <option  value="GQ">Equatorial Guinea</option>
                            <option  value="ER">Eritrea</option>
                            <option  value="EE">Estonia</option>
                            <option  value="ET">Ethiopia</option>
                            <option  value="FK">Falkland Islands (Malvinas)</option>
                            <option  value="FO">Faroe Islands</option>
                            <option  value="FJ">Fiji</option>
                            <option  value="FI">Finland</option>
                            <option  value="FR">France</option>
                            <option  value="GF">French Guiana</option>
                            <option  value="PF">French Polynesia</option>
                            <option  value="TF">French Southern Territories</option>
                            <option  value="GA">Gabon</option>
                            <option  value="GM">Gambia</option>
                            <option  value="GE">Georgia</option>
                            <option  value="DE">Germany</option>
                            <option  value="GH">Ghana</option>
                            <option  value="GI">Gibraltar</option>
                            <option  value="GR">Greece</option>
                            <option  value="GL">Greenland</option>
                            <option  value="GD">Grenada</option>
                            <option  value="GP">Guadeloupe</option>
                            <option  value="GU">Guam</option>
                            <option  value="GT">Guatemala</option>
                            <option  value="GG">Guernsey</option>
                            <option  value="GN">Guinea</option>
                            <option  value="GW">Guinea-Bissau</option>
                            <option  value="GY">Guyana</option>
                            <option  value="HT">Haiti</option>
                            <option  value="HM">Heard Island & Mcdonald Islands</option>
                            <option  value="VA">Holy See (Vatican City State)</option>
                            <option  value="HN">Honduras</option>
                            <option  value="HK">Hong Kong</option>
                            <option  value="HU">Hungary</option>
                            <option  value="IS">Iceland</option>
                            <option  value="IN">India</option>
                            <option  value="ID">Indonesia</option>
                            <option  value="IR">Iran, Islamic Republic Of</option>
                            <option  value="IQ">Iraq</option>
                            <option  value="IE">Ireland</option>
                            <option  value="IM">Isle Of Man</option>
                            <option  value="IL">Israel</option>
                            <option  value="IT">Italy</option>
                            <option  value="JM">Jamaica</option>
                            <option  value="JP">Japan</option>
                            <option  value="JE">Jersey</option>
                            <option  value="JO">Jordan</option>
                            <option  value="KZ">Kazakhstan</option>
                            <option  value="KE">Kenya</option>
                            <option  value="KI">Kiribati</option>
                            <option  value="KR">Korea</option>
                            <option  value="KW">Kuwait</option>
                            <option  value="KG">Kyrgyzstan</option>
                            <option  value="LA">Lao People's Democratic Republic</option>
                            <option  value="LV">Latvia</option>
                            <option  value="LB">Lebanon</option>
                            <option  value="LS">Lesotho</option>
                            <option  value="LR">Liberia</option>
                            <option  value="LY">Libyan Arab Jamahiriya</option>
                            <option  value="LI">Liechtenstein</option>
                            <option  value="LT">Lithuania</option>
                            <option  value="LU">Luxembourg</option>
                            <option  value="MO">Macao</option>
                            <option  value="MK">Macedonia</option>
                            <option  value="MG">Madagascar</option>
                            <option  value="MW">Malawi</option>
                            <option  value="MY">Malaysia</option>
                            <option  value="MV">Maldives</option>
                            <option  value="ML">Mali</option>
                            <option  value="MT">Malta</option>
                            <option  value="MH">Marshall Islands</option>
                            <option  value="MQ">Martinique</option>
                            <option  value="MR">Mauritania</option>
                            <option  value="MU">Mauritius</option>
                            <option  value="YT">Mayotte</option>
                            <option  value="MX">Mexico</option>
                            <option  value="FM">Micronesia, Federated States Of</option>
                            <option  value="MD">Moldova</option>
                            <option  value="MC">Monaco</option>
                            <option  value="MN">Mongolia</option>
                            <option  value="ME">Montenegro</option>
                            <option  value="MS">Montserrat</option>
                            <option  value="MA">Morocco</option>
                            <option  value="MZ">Mozambique</option>
                            <option  value="MM">Myanmar</option>
                            <option  value="NA">Namibia</option>
                            <option  value="NR">Nauru</option>
                            <option  value="NP">Nepal</option>
                            <option  value="NL">Netherlands</option>
                            <option  value="AN">Netherlands Antilles</option>
                            <option  value="NC">New Caledonia</option>
                            <option  value="NZ">New Zealand</option>
                            <option  value="NI">Nicaragua</option>
                            <option  value="NE">Niger</option>
                            <option  value="NG">Nigeria</option>
                            <option  value="NU">Niue</option>
                            <option  value="NF">Norfolk Island</option>
                            <option  value="MP">Northern Mariana Islands</option>
                            <option  value="NO">Norway</option>
                            <option  value="OM">Oman</option>
                            <option  value="PK">Pakistan</option>
                            <option  value="PW">Palau</option>
                            <option  value="PS">Palestinian Territory, Occupied</option>
                            <option  value="PA">Panama</option>
                            <option  value="PG">Papua New Guinea</option>
                            <option  value="PY">Paraguay</option>
                            <option  value="PE">Peru</option>
                            <option  value="PH">Philippines</option>
                            <option  value="PN">Pitcairn</option>
                            <option  value="PL">Poland</option>
                            <option  value="PT">Portugal</option>
                            <option  value="PR">Puerto Rico</option>
                            <option  value="QA">Qatar</option>
                            <option  value="RE">Reunion</option>
                            <option  value="RO">Romania</option>
                            <option  value="RU">Russian Federation</option>
                            <option  value="RW">Rwanda</option>
                            <option  value="BL">Saint Barthelemy</option>
                            <option  value="SH">Saint Helena</option>
                            <option  value="KN">Saint Kitts And Nevis</option>
                            <option  value="LC">Saint Lucia</option>
                            <option  value="MF">Saint Martin</option>
                            <option  value="PM">Saint Pierre And Miquelon</option>
                            <option  value="VC">Saint Vincent And Grenadines</option>
                            <option  value="WS">Samoa</option>
                            <option  value="SM">San Marino</option>
                            <option  value="ST">Sao Tome And Principe</option>
                            <option  value="SA">Saudi Arabia</option>
                            <option  value="SN">Senegal</option>
                            <option  value="RS">Serbia</option>
                            <option  value="SC">Seychelles</option>
                            <option  value="SL">Sierra Leone</option>
                            <option  value="SG">Singapore</option>
                            <option  value="SK">Slovakia</option>
                            <option  value="SI">Slovenia</option>
                            <option  value="SB">Solomon Islands</option>
                            <option  value="SO">Somalia</option>
                            <option  value="ZA">South Africa</option>
                            <option  value="GS">South Georgia And Sandwich Isl.</option>
                            <option  value="ES">Spain</option>
                            <option  value="LK">Sri Lanka</option>
                            <option  value="SD">Sudan</option>
                            <option  value="SR">Suriname</option>
                            <option  value="SJ">Svalbard And Jan Mayen</option>
                            <option  value="SZ">Swaziland</option>
                            <option  value="SE">Sweden</option>
                            <option  value="CH">Switzerland</option>
                            <option  value="SY">Syrian Arab Republic</option>
                            <option  value="TW">Taiwan</option>
                            <option  value="TJ">Tajikistan</option>
                            <option  value="TZ">Tanzania</option>
                            <option  value="TH">Thailand</option>
                            <option  value="TL">Timor-Leste</option>
                            <option  value="TG">Togo</option>
                            <option  value="TK">Tokelau</option>
                            <option  value="TO">Tonga</option>
                            <option  value="TT">Trinidad And Tobago</option>
                            <option  value="TN">Tunisia</option>
                            <option  value="TR">Turkey</option>
                            <option  value="TM">Turkmenistan</option>
                            <option  value="TC">Turks And Caicos Islands</option>
                            <option  value="TV">Tuvalu</option>
                            <option  value="UG">Uganda</option>
                            <option  value="UA">Ukraine</option>
                            <option  value="AE">United Arab Emirates</option>
                            <option  value="GB">United Kingdom</option>
                            <option  value="US">United States</option>
                            <option  value="UM">United States Outlying Islands</option>
                            <option  value="UY">Uruguay</option>
                            <option  value="UZ">Uzbekistan</option>
                            <option  value="VU">Vanuatu</option>
                            <option  value="VE">Venezuela</option>
                            <option  value="VN">Viet Nam</option>
                            <option  value="VG">Virgin Islands, British</option>
                            <option  value="VI">Virgin Islands, U.S.</option>
                            <option  value="WF">Wallis And Futuna</option>
                            <option  value="EH">Western Sahara</option>
                            <option  value="YE">Yemen</option>
                            <option  value="ZM">Zambia</option>
                            <option  value="ZW">Zimbabwe</option>
                        </select>
                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div *ngIf="f.country.errors.required">Country is required</div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-width-1-2">
                        <label for="postalCode">Postal Code</label>
                        <input type="text" formControlName="postalCode" class="md-input" [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" />
                        <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                            <div *ngIf="f.postalCode.errors.required">Postal Code is required</div>
                        </div>
                    </div>
                    <div class="uk-margin-medium-top">
                        <button [disabled]="loading" type="submit" class="md-btn md-btn-primary md-btn-block md-btn-medium">Sign Up</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>
                <!-- <alert></alert> -->
            </form>
        </div>
    </div>
</div>